{% set active = 'offerings' %}
{% extends 'AppBundle::base.html.twig' %}

{% block title %}Western Logistic Center - Invierte PTY{% endblock %}

{% block stylesheets %}
    <link href="{{ asset('bundles/app/css/nivo-lightbox.css') }}" rel="stylesheet">
    <link href="{{ asset('bundles/app/css/nivo-lightbox-theme.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}
<div class="mg-page-bacata parallax" style="background-position: 36% -15vh;">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2>BD Bacata</h2>
                                        
                </div>
            </div>
        </div>
    </div>
   <div class="mg-page">
        <div class="container">
              <!-- project resume STARTS -->
            <div class="row">
                <div class="col-md-7">
                    <h1>Resumen de Proyecto</h1>
                    <p>BD Bacata Bogotá Dowtown es el rasca cielo con más altura en la ciudad de Colombia.
D BACATÁ es el complejo arquitectónico más ambicioso que se construye actualmente en el país y que se posicionará como el nuevo icono de la renovación del centro de Bogotá. Se trata de un rascacielos compuesto por dos torres, una de ellas la más alta de Colombia, con 66 pisos y 114.384 m2 de construcción total.</p>
                    
                    <hr>
                    <h2>Desarrollador del Proyecto</h2>
                    <p>El proyecto que está a cargo de BD Promotores Colombia cuenta con una inversión
de $240.000.000.000 de pesos y ofrece dos modelos de inversión: venta por propiedad (Parqueaderos, vivienda y oficinas) y venta por derechos fiduciarios o matricula inmobiliaria horizontal (centro comercial y hotel y hotel larga estancia).</p>
                </div>
                <div class="col-md-offset-1 col-md-4 projectdata">
                <h5>TIPO DE FINANCIAMIENTO: <b>EQUITY</b></h5>
                    <h5><span class="glyphicon glyphicon-usd">                                 </span> Inversión Mínima: <b>$ 50 K</b></h5>
                    <hr>
                    <h5><span class="glyphicon glyphicon-globe"></span> <b>Fondos acumuados</b></h5>
                    <div class="progress">
                                        <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width:100%;">100%</div>
                                 </div>
                    <h5><span class="glyphicon glyphicon-stats"></span>  TIR Proyectada <b>12% - 16%</b></h5>
                    <h5><span class="glyphicon glyphicon-calendar"></span> Periodo Estimado <b>3 - a 4 años</b></h5>
                </div>
                   </div>
                            <div class="project-location row">
                                 <hr>
                                <h3>Ubicación</h3>
<p>El proyecto está ubicado en la calle 19 No. 5-20, en la confluencia de cinco mercados
importantes: el de las universidades, el administrativo, el turístico y el comercial.
Gracias a su diseño, en el que han intervenido reconocidos arquitectos de España y
Colombia, la tipología urbana, económica e inmobiliaria del centro de Bogotá se verá
completamente modificada hacia una visión más cosmopolita, desarrollada y
competitiva.</p>
                        </div>
    <!-- project resume FINISHES -->
            
            <div class="property-info row">
                <h3>Propiedad</h3>
                <p>Las características del rascacielos son sin duda únicas en toda Bogotá, 396
Apartamentos, 117 Oficinas, 405 parqueaderos privados, 334 parqueaderos públicos
diferenciados por zonas, un centro comercial, y 63 habitaciones para un hotel de larga
estancia.</p>
                <p>Con el lanzamiento del proyecto el pasado mes de marzo, empieza el proceso de
ventas y próximamente el inicio de obra con la demolición de la actual estructura para
comenzar de lleno su construcción en el segundo semestre del presente 2010.</p>
                <p>Volumétricamente se eleva a partir de una plataforma comercial, de la que surgen tres
estilizados bloques: uno con cerca de 405 apartamentos entre 40 y 60 metros
cuadrados, otro con alrededor de 190 oficinas modulables, entre 50 y 70 metros
cuadrados y, por último, un hotel de cinco estrellas, con más 300 habitaciones, entre
estándares, ejecutivas y suites. Lo mejor de todo ello es el respeto por el trabajo de
más de cuarenta años de algunos de sus actuales empleados y de los demás que
hacen parte del equipo del hotel, quienes tienen asegurado su trabajo en el nuevo
complejo. Bienvenido pues este nuevo proyecto que será un aporte al cambio del perfil
urbano de la City.</p>
                <h3>Precio</h3>
                <p>BD Bacata tiene un valor previsto de $245 millones de dólares y un Cap Rate del 10%.</p>
                
<h3>Inversion</h3>
<p>BD Bacata Bogotá a recaudado aproximadamente $145 millones de 3,000 inversionistas.
El monto mínimo de inversión es de $20,000 dólares.</p>
          <hr></div>
                 <div class="col-md-12 pp-estrategia-proyecto">
    <h2>Estrategia del Proyecto</h2>
 <div class="col-md3">
     Se espera liquidar la inversión después de aproximadamente tres años de operación (Q4 2021), al vender la propiedad completa.
    </div>
 <div class="col-md-3">
Precio de Venta estimado $9.5 millones a un Cap Rate de aproximadamente 7.8%. </div>
 <div class="col-md-3">
Grupo inmobiliario Vivir espera vender la propiedad en marzo del 2020.</div>  
                         <div class="col-md-3">
El proyecto se encuentra en la etapa final de construcción la cual será financiada por
medio de esta ronda de inversión.</div>  

    <div class="project-quoted col-md-12">
        <hr>
                            <h2 class="text-center">Cómo lo hicieron</h2>
        <p><b>FiDi “Figura Internacional de Derecho Fiduciario Inmobiliario”</b></p>
        <p><b>Permite al inversionista obtener una participación en los proyectos inmobiliarios.</b></p>
        <p>Los FiDis son participaciones en un bien inmueble: al comprar uno, usted se convierte en
dueño del mismo y recibe un ingreso un pago mensual de la rentabilidad operativa del
proyecto.</p>
        <p>El FIDI está dividido en montos de $20,000 mil dólares, la cual se paga de forma
mensual, con una cuota inicial de tan sólo el 10%.</p>
<p>Los FiDis son derechos fiduciarios. Se llaman así porque lo que el inversionista adquiere
es un derecho sobre un conjunto de bienes conocido como fideicomiso, el cual es
administrado por una entidad fiduciaria, vigilada por la Superintendencia Financiera de
Colombia.</p>
                            </div>
    </div>
                <hr />
               
                    <div class="project-benefits">
                            <h3>Beneficioss</h3>
                       <ul>
                        <li>
                           <p>Se trata de una inversión a bajo precio y plenamente accesible para todo tipo de inversionista.</p>
                           </li>
                           <li>
                           <p>El sector inmobiliario presenta una mayor estabilidad a largo plazo, que otras formas de inversión.</p></li>
                           <li>
                               <p>El dinero invertido en FiDis es manejado por una fiduciaria, a su vez vigilada por la Superintendencia Financiera de Colombia, lo que ofrece mayor seguridad.</p></li>
                           <li>
                               <p>En Colombia, los FiDis de Hotel están exentos del impuesto de renta durante treinta años, lo que se traduce en mayor beneficio para los inversionistas.</p></li>
                        </ul>
                        </div>
                     <div class="project-fotos">
                        <h3>Imagenes de la Propiedad</h3>
                             
                             <div id="carousel-bacata-project" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-bacata-project" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-bacata-project" data-slide-to="1"></li>
    <li data-target="#carousel-bacata-project" data-slide-to="2"></li>
    <li data-target="#carousel-bacata-project" data-slide-to="3"></li>
    <li data-target="#carousel-bacata-project" data-slide-to="4"></li>
    <li data-target="#carousel-bacata-project" data-slide-to="5"></li>
    <li data-target="#carousel-bacata-project" data-slide-to="6"></li>
    <li data-target="#carousel-bacata-project" data-slide-to="7"></li>
    <li data-target="#carousel-bacata-project" data-slide-to="8"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <img src="{{ asset('bundles/app/images/proyectos/bacata/bacata1.png') }}" alt="Foto 1">
      <div class="carousel-caption">
      </div>
    </div>
    <div class="item">
      <img src="{{ asset('bundles/app/images/proyectos/bacata/bacata2.jpg') }}" alt="Foto 2">
      <div class="carousel-caption">
      </div>
    </div>
      <div class="item">
      <img src="{{ asset('bundles/app/images/proyectos/bacata/bacata3.jpg') }}" alt="Foto 3">
      <div class="carousel-caption">
      </div>
    </div>
      <div class="item">
      <img src="{{ asset('bundles/app/images/proyectos/bacata/bacata4.jpg') }}" alt="Foto 4">
      <div class="carousel-caption">
      </div>
    </div>
       <div class="item">
      <img src="{{ asset('bundles/app/images/proyectos/bacata/bacata5.jpg') }}" alt="Foto 5">
      <div class="carousel-caption">
      </div>
    </div>
      <div class="item">
      <img src="{{ asset('bundles/app/images/proyectos/bacata/bacata6.jpg') }}" alt="Foto 6">
      <div class="carousel-caption">
      </div>
    </div>
      <div class="item">
      <img src="{{ asset('bundles/app/images/proyectos/bacata/bacata7.jpg') }}" alt="Foto 7">
      <div class="carousel-caption">
      </div>
    </div>
       <div class="item">
      <img src="{{ asset('bundles/app/images/proyectos/bacata/bacata8.jpg') }}" alt="Foto 8">
      <div class="carousel-caption">
      </div>
    </div>
   
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-wlc-project" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Anterior</span>
  </a>
  <a class="right carousel-control" href="#carousel-wlc-project" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Siguiente</span>
  </a>
</div>
                             
                        </div>
                        
                         <div class="project-video">
                             <hr>
                        <h3>Video</h3>
                             
      
                             <div><center><iframe width="700" height="500" src="https://www.youtube.com/embed/kv9c8MDkOwE" frameborder="0" allowfullscreen></iframe></center></div>
                        </div>             
                    
                    
                  
          
                    
            
                <hr />

      
                <div class="project-map">
                                <h3>Mapa</h3>
<p>El proyecto está ubicado sobre la Vía Panamericana, en el kilómetro 43 desde la ciudad de Panamá, a 5 minutos de la salida de la Autopista Arraiján-La Chorrera. 
</p>
                    
       <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d31539.128407834003!2d-79.82796778973804!3d8.843135482890643!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e53d7f96c137f73%3A0x3e0472a1930ba401!2sCarr.+Panamericana%2C+Arraij%C3%A1n%2C+Panam%C3%A1!5e0!3m2!1ses-419!2spa!4v1481018215047" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                    <hr>
                        </div>
                
                <div class="project-confidential row">
                                <h3><i class="glyphicon glyphicon-lock"></i> Documentos Confidenciales y Chat Room</h3>
                    
                    
                    <div class="col-md-4"><p>Luego de verificar su perfil de usuario, INVIERTE PTY le permitirá ver documentos privados y conversar con otros inversionistas que participan en el proyecto.</p></div>
                    <div class="col-md-4">
                        <div class="col-md-12 confidential-access">
                            <center><img src="{{ asset('bundles/app/images/documentos-confidenciales-invierte-pty.jpg') }}" alt="Documentos confidenciales y Chat Room" class="img-responsive"></center>
                        <center><a href="{{ path('signup') }}" class="btn btn-default">ACCESO</a><br /></center>
                            
                        </div>
                    
                    </div>
                    <div class="col-md-4">
                        <div class="col-md-12 confidential-access">
                            <center><img src="{{ asset('bundles/app/images/chat-room-invierte-pty.jpg') }}" alt="Documentos confidenciales y Chat Room" class="img-responsive"></center>
                        <center><a href="{{ path('signup') }}" class="btn btn-default">IR A CHATROOM</a><br /></center>
                            
                        </div>
                    
                    </div>


                        </div>
                    
                    `<div class="row">
                <div class="col-md-offset-2 col-md-8">
               <center>
               <a href="{{ path('signup') }}" class="btn btn-lg btn-success"><span class="glyphicon glyphicon-usd"></span> Invertir en Proyecto</a>
                    <a class="btn btn-lg btn-danger"><span class="glyphicon glyphicon-heart"></span> Agregar a Favoritos</a>
                    </center>
                </div>
                </div>
            </div>


        </div>
    </div>


{% endblock %}