{% set active = 'offerings' %}
{% extends 'AppBundle::base.html.twig' %}

{% block title %}Offerings - Crowd Valley{% endblock %}

{% block body %}

    <div class="mg-page-title parallax">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2>Offerings - 3 Columns</h2>
                    <p>Cogitavisse erant puerilis utrum efficiantur adhuc expeteretur.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="mg-rooms-cols">
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <figure class="mg-room">
                        <img src="{{ asset('bundles/app/images/room-1.png') }}" alt="img11" class="img-responsive">
                        <figcaption>
                            <h2>Super Deluxe</h2>
                            <div class="mg-room-rating"><i class="fa fa-star"></i> 5.00</div>
                            <div class="mg-room-price">$249<sup>.99/Night</sup></div>
                            <p>adversantur probatum iudicante indicaverunt repugnantibus.</p>
                            <a href="{{ path('offerings_overview') }}" class="btn btn-link">View Details <i class="fa fa-angle-double-right"></i></a>
                            <a href="{{ path('offerings_overview') }}" class="btn btn-main">Book</a>
                        </figcaption>
                    </figure>
                </div>
                <div class="col-sm-4">
                    <figure class="mg-room">
                        <img src="{{ asset('bundles/app/images/room-2.png') }}" alt="img11" class="img-responsive">
                        <figcaption>
                            <h2>Super Deluxe</h2>
                            <div class="mg-room-rating"><i class="fa fa-star"></i> 5.00</div>
                            <div class="mg-room-price">$249<sup>.99/Night</sup></div>
                            <p>adversantur probatum iudicante indicaverunt repugnantibus.</p>
                            <a href="{{ path('offerings_overview') }}" class="btn btn-link">View Details <i class="fa fa-angle-double-right"></i></a>
                            <a href="{{ path('offerings_overview') }}" class="btn btn-main">Book</a>
                        </figcaption>
                    </figure>
                </div>
                <div class="col-sm-4">
                    <figure class="mg-room">
                        <img src="{{ asset('bundles/app/images/room-3.png') }}" alt="img11" class="img-responsive">
                        <figcaption>
                            <h2>Super Deluxe</h2>
                            <div class="mg-room-rating"><i class="fa fa-star"></i> 5.00</div>
                            <div class="mg-room-price">$249<sup>.99/Night</sup></div>
                            <p>adversantur probatum iudicante indicaverunt repugnantibus.</p>
                            <a href="{{ path('offerings_overview') }}" class="btn btn-link">View Details <i class="fa fa-angle-double-right"></i></a>
                            <a href="{{ path('offerings_overview') }}" class="btn btn-main">Book</a>
                        </figcaption>
                    </figure>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <figure class="mg-room">
                        <img src="{{ asset('bundles/app/images/room-4.png') }}" alt="img11" class="img-responsive">
                        <figcaption>
                            <h2>Super Deluxe</h2>
                            <div class="mg-room-rating"><i class="fa fa-star"></i> 5.00</div>
                            <div class="mg-room-price">$249<sup>.99/Night</sup></div>
                            <p>adversantur probatum iudicante indicaverunt repugnantibus.</p>
                            <a href="{{ path('offerings_overview') }}" class="btn btn-link">View Details <i class="fa fa-angle-double-right"></i></a>
                            <a href="{{ path('offerings_overview') }}" class="btn btn-main">Book</a>
                        </figcaption>
                    </figure>
                </div>
                <div class="col-sm-4">
                    <figure class="mg-room">
                        <img src="{{ asset('bundles/app/images/room-5.png') }}" alt="img11" class="img-responsive">
                        <figcaption>
                            <h2>Super Deluxe</h2>
                            <div class="mg-room-rating"><i class="fa fa-star"></i> 5.00</div>
                            <div class="mg-room-price">$249<sup>.99/Night</sup></div>
                            <p>adversantur probatum iudicante indicaverunt repugnantibus.</p>
                            <a href="{{ path('offerings_overview') }}" class="btn btn-link">View Details <i class="fa fa-angle-double-right"></i></a>
                            <a href="{{ path('offerings_overview') }}" class="btn btn-main">Book</a>
                        </figcaption>
                    </figure>
                </div>
                <div class="col-sm-4">
                    <figure class="mg-room">
                        <img src="{{ asset('bundles/app/images/room-6.png') }}" alt="img11" class="img-responsive">
                        <figcaption>
                            <h2>Super Deluxe</h2>
                            <div class="mg-room-rating"><i class="fa fa-star"></i> 5.00</div>
                            <div class="mg-room-price">$249<sup>.99/Night</sup></div>
                            <p>adversantur probatum iudicante indicaverunt repugnantibus.</p>
                            <a href="{{ path('offerings_overview') }}" class="btn btn-link">View Details <i class="fa fa-angle-double-right"></i></a>
                            <a href="{{ path('offerings_overview') }}" class="btn btn-main">Book</a>
                        </figcaption>
                    </figure>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <figure class="mg-room">
                        <img src="{{ asset('bundles/app/images/room-7.png') }}" alt="img11" class="img-responsive">
                        <figcaption>
                            <h2>Super Deluxe</h2>
                            <div class="mg-room-rating"><i class="fa fa-star"></i> 5.00</div>
                            <div class="mg-room-price">$249<sup>.99/Night</sup></div>
                            <p>adversantur probatum iudicante indicaverunt repugnantibus.</p>
                            <a href="{{ path('offerings_overview') }}" class="btn btn-link">View Details <i class="fa fa-angle-double-right"></i></a>
                            <a href="{{ path('offerings_overview') }}" class="btn btn-main">Book</a>
                        </figcaption>
                    </figure>
                </div>
                <div class="col-sm-4">
                    <figure class="mg-room">
                        <img src="{{ asset('bundles/app/images/room-8.png') }}" alt="img11" class="img-responsive">
                        <figcaption>
                            <h2>Super Deluxe</h2>
                            <div class="mg-room-rating"><i class="fa fa-star"></i> 5.00</div>
                            <div class="mg-room-price">$249<sup>.99/Night</sup></div>
                            <p>adversantur probatum iudicante indicaverunt repugnantibus.</p>
                            <a href="{{ path('offerings_overview') }}" class="btn btn-link">View Details <i class="fa fa-angle-double-right"></i></a>
                            <a href="{{ path('offerings_overview') }}" class="btn btn-main">Book</a>
                        </figcaption>
                    </figure>
                </div>
                <div class="col-sm-4">
                    <figure class="mg-room">
                        <img src="{{ asset('bundles/app/images/room-9.png') }}" alt="img11" class="img-responsive">
                        <figcaption>
                            <h2>Super Deluxe</h2>
                            <div class="mg-room-rating"><i class="fa fa-star"></i> 5.00</div>
                            <div class="mg-room-price">$249<sup>.99/Night</sup></div>
                            <p>adversantur probatum iudicante indicaverunt repugnantibus.</p>
                            <a href="{{ path('offerings_overview') }}" class="btn btn-link">View Details <i class="fa fa-angle-double-right"></i></a>
                            <a href="{{ path('offerings_overview') }}" class="btn btn-main">Book</a>
                        </figcaption>
                    </figure>
                </div>
            </div>
        </div>
    </div>

{% endblock %}