{% set active = 'offerings' %}
{% extends 'AppBundle::base.html.twig' %}

{% block title %}Properties - Invierte PTY{% endblock %}

{% block stylesheets %}
    <link href="{{ asset('bundles/app/css/nivo-lightbox.css') }}" rel="stylesheet">
    <link href="{{ asset('bundles/app/css/nivo-lightbox-theme.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}
<div class="mg-page-title parallax" style="background-position: 50% 0px;">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2>Propiedades</h2>
                </div>
            </div>
        </div>
    </div>
   <div class="mg-page">
        <div class="container">
            <div class="row">
                    
                    <div class="row">
   <div class="col-md-12">
      <h3>Santa María Golf & Country Club</h3>
   </div>
   <div class="col-md-7">
      <center><img class="img-responsive" style="width:100%" src="{{asset('/bundles/app/images/proyectos/santa-maria-panama-proyecto.png') }}" alt="Santa María Golf & Country Club"></center>
   </div>
   <div class="col-md-5">
      <div class="projectview-box">
         <!-- Project view box STARTS -->
         <div class="disponibilidad projectbox-data">
            <p><span style="color:green" class="glyphicon glyphicon-ok"></span> OFERTA DISPONIBILE</p>
         </div>
         <div class="projectbox-data">
            <p><span class="glyphicon glyphicon-usd">                                 </span> Inversion minima 25K</p>
         </div>
         <div class="projectbox-data">
            <p><span class="glyphicon glyphicon-calendar"></span> Tiempo aprox. 3 - 4 años</p>
         </div>
         <div class="projectbox-data">
            <p><span class="glyphicon glyphicon-stats"></span> TIR proyectada 14 - 16% </p>
         </div>
         <div class="projectbox-data">
            <div class="row">
               <div class="col-md-12">
                  <p><span class="glyphicon glyphicon-globe"></span> Estatus de la oferta</p>
               </div>
               <div class="col-md-2">
                  <p>0M </p>
               </div>
               <div class="col-md-8">
                  <div class="progress">
                     <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width:60%;">60%
                     </div>
                  </div>
               </div>
               <div class="col-md-1">22M</div>
            </div>
         </div>
         <!-- ends projectview-box row -->
      </div>
      <!-- ends offset-1 col-md-6 column -->
      <div>
         <a  href="{{ path('santa-maria') }}" class="btn btn-block btn-primary"> 
         <span class="glyphicon glyphicon-open"></span> Ver Proyecto</a>                                   
      </div>
   </div>
</div>
                
                    
                     <div class="row">
   <div class="col-md-12">
      <h3>San Francisco Mall</h3>
   </div>
   <div class="col-md-7">
      <center><img class="img-responsive" style="width:100%" src="{{asset('/bundles/app/images/proyectos/san-francisco-mall-panama-proyecto.png') }}" alt="San Francisco Mall"></center>
   </div>
   <div class="col-md-5">
      <div class="projectview-box">
         <!-- Project view box STARTS -->
         <div class="disponibilidad projectbox-data">
            <p><span style="color:green" class="glyphicon glyphicon-ok"></span> OFERTA DISPONIBILE</p>
         </div>
         <div class="projectbox-data">
            <p><span class="glyphicon glyphicon-usd"></span> Inversion minima 20K</p>
         </div>
         <div class="projectbox-data">
            <p><span class="glyphicon glyphicon-calendar"></span> Tiempo aprox. 3-4 años</p>
         </div>
         <div class="projectbox-data">
            <p><span class="glyphicon glyphicon-stats"></span> TIR proyectada 12-16% </p>
         </div>
         <div class="projectbox-data">
            <div class="row">
               <div class="col-md-12">
                  <p><span class="glyphicon glyphicon-globe"></span> Estatus de la oferta</p>
               </div>
               <div class="col-md-2">
                  <p>0M </p>
               </div>
               <div class="col-md-8">
                  <div class="progress">
                     <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width:45%;">45%
                     </div>
                  </div>
               </div>
               <div class="col-md-1">5.0M</div>
            </div>
         </div>
         <!-- ends projectview-box row -->
      </div>
      <!-- ends offset-1 col-md-6 column -->
      <div>
         <a  href="{{ path('san-francisco-mall') }}" class="btn btn-block btn-primary"> 
         <span class="glyphicon glyphicon-open"></span> Ver Proyecto</a>                                   
      </div>
   </div>
</div>
                    

					
                    <div class="row">
   <div class="col-md-12">
      <h3>Vista Mar Golf Village</h3>
   </div>
   <div class="col-md-7">
      <center><img class="img-responsive" style="width:100%" src="{{asset('bundles/app/images/proyectos/vista-mar-golf-village/vistamar1.png') }}" alt="Wester Logistic Center"></center>
   </div>
   <div class="col-md-5">
      <div class="projectview-box">
         <!-- Project view box STARTS -->
         <div class="disponibilidad projectbox-data">
            <p><span style="color:green" class="glyphicon glyphicon-ok"></span> OFERTA DISPONIBILE</p>
         </div>
         <div class="projectbox-data">
            <p><span class="glyphicon glyphicon-usd"></span> Inversion minima 5K</p>
         </div>
         <div class="projectbox-data">
            <p><span class="glyphicon glyphicon-calendar"></span> Tiempo aprox. 2 - 3 años</p>
         </div>
         <div class="projectbox-data">
            <p><span class="glyphicon glyphicon-stats"></span> TIR proyectada 16 - 19%  </p>
         </div>
         <div class="projectbox-data">
            <div class="row">
               <div class="col-md-12">
                  <p><span class="glyphicon glyphicon-globe"></span> Estatus de la oferta</p>
               </div>
               <div class="col-md-2">
                  <p>0M </p>
               </div>
               <div class="col-md-8">
                  <div class="progress">
                     <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width:33%;">33%
                     </div>
                  </div>
               </div>
               <div class="col-md-1">75M</div>
            </div>
         </div>
         <!-- ends projectview-box row -->
      </div>
      <!-- ends offset-1 col-md-6 column -->
      <div>
         <a  href="{{ path('vista-mar-golf-village') }}" class="btn btn-block btn-primary"> 
         <span class="glyphicon glyphicon-open"></span> Ver Proyecto</a>                                   
      </div>
   </div>
</div>        
		
                    
                   <div class="row">
   <div class="col-md-12">
      <h3>Wester Logistic Center</h3>
   </div>
   <div class="col-md-7">
      <center><img class="img-responsive" style="width:100%" src="{{asset('bundles/app/images/proyectos/western-logistic/wlc1.png') }}" alt="Wester Logistic Center"></center>
   </div>
   <div class="col-md-5">
      <div class="projectview-box">
         <!-- Project view box STARTS -->
         <div class="disponibilidad projectbox-data">
            <p><span style="color:green" class="glyphicon glyphicon-ok"></span> OFERTA DISPONIBILE</p>
         </div>
         <div class="projectbox-data">
            <p><span class="glyphicon glyphicon-usd">                                 </span> Inversion minima 20K</p>
         </div>
         <div class="projectbox-data">
            <p><span class="glyphicon glyphicon-calendar"></span> Tiempo aprox. 3-4                                   años</p>
         </div>
         <div class="projectbox-data">
            <p><span class="glyphicon glyphicon-stats"></span> TIR proyectada 12-16%                                    </p>
         </div>
         <div class="projectbox-data">
            <div class="row">
               <div class="col-md-12">
                  <p><span class="glyphicon glyphicon-globe"></span> Estatus de la oferta</p>
               </div>
               <div class="col-md-2">
                  <p>0M </p>
               </div>
               <div class="col-md-8">
                  <div class="progress">
                     <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width:45%;">45%
                     </div>
                  </div>
               </div>
               <div class="col-md-1">22M</div>
            </div>
         </div>
         <!-- ends projectview-box row -->
      </div>
      <!-- ends offset-1 col-md-6 column -->
      <div>
         <a  href="{{ path('western-logistic-center') }}" class="btn btn-block btn-primary"> 
         <span class="glyphicon glyphicon-open"></span> Ver Proyecto</a>                                   
      </div>
   </div>
</div>
                
                <div class="row">
   <div class="col-md-12">
      <h3>BD Bacata</h3>
   </div>
   <div class="col-md-7">
      <center><img class="img-responsive" style="width:100%" src="{{asset('/bundles/app/images/proyectos/bacata/bacata3.jpg') }}" alt="Wester Logistic Center"></center>
   </div>
   <div class="col-md-5">
      <div class="projectview-box">
         <!-- Project view box STARTS -->
         <div class="disponibilidad projectbox-data">
            <p><span style="color:green" class="glyphicon glyphicon-ok"></span> 100% COMPLETO</p>
         </div>
         <div class="projectbox-data">
            <p><span class="glyphicon glyphicon-usd">                                 </span> Inversion minima 20K</p>
         </div>
         <div class="projectbox-data">
            <p><span class="glyphicon glyphicon-calendar"></span> Tiempo aprox. 3 - 4                                   años</p>
         </div>
         <div class="projectbox-data">
            <p><span class="glyphicon glyphicon-stats"></span> TIR proyectada 12 - 16%                                    </p>
         </div>
         <div class="projectbox-data">
            <div class="row">
               <div class="col-md-12">
                  <p><span class="glyphicon glyphicon-globe"></span> Estatus de la oferta</p>
               </div>
               <div class="col-md-2">
                  <p>0M </p>
               </div>
               <div class="col-md-8">
                  <div class="progress">
                     <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width:100%;">100%
                     </div>
                  </div>
               </div>
               <div class="col-md-1">22M</div>
            </div>
         </div>
         <!-- ends projectview-box row -->
      </div>
      <!-- ends offset-1 col-md-6 column -->
      <div>
         <a  href="{{ path('bacata') }}" class="btn btn-block btn-primary"> 
         <span class="glyphicon glyphicon-open"></span> Ver Proyecto</a>                                   
      </div>
   </div>
</div>
                    
                    
            </div>


        </div>
    </div>

{% endblock %}