{% set active = 'offerings' %}
{% extends 'AppBundle::base.html.twig' %}

{% block title %}San Francisco Mall - Invierte PTY{% endblock %}

{% block stylesheets %}
    <link href="{{ asset('bundles/app/css/nivo-lightbox.css') }}" rel="stylesheet">
    <link href="{{ asset('bundles/app/css/nivo-lightbox-theme.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}
<div class="mg-page-sanfranciscomall parallax" style="background-position: 36% -15vh;">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2>San Francisco Mall</h2>
                                        
                </div>
            </div>
        </div>
    </div>
   <div class="mg-page">
   <div class="container">
      <!-- project resume STARTS -->
      <div class="row">
         <div class="col-md-7">
            <h3>RESUMEN DEL PROYECTO</h3>
            <p>San Fransico Mall está ubicado en centro de la ciudad. Nuestra ubicación estratégica permite a los residentes acceder a un Mall conveniente y cercano. San Fransico Mall ofrece un sin número amplios locales con seguridad 24/7 y valet parking.
            </p>
            
            <br />
            
            <h3>DESARROLLADOR DEL PROYECTO</h3>
            <p>Grupo Vivir es un grupo Inmobiliario en Panamá de alto renombre. Con trayectoria desde el 2007 su portafolio inmobiliario cuenta un sin número de proyectos comerciales, residencial y playa en Panamá.
            </p>
            <p>The Reserve Luxury Condos es una de las diferentes edificaciones dentro del proyecto
               Santa María Golf &amp; Country Club
            </p>
         </div>
         <div class="col-md-5 projectdata">
             <center><img class="img-responsive" src="{{ asset('bundles/app/images/proyectos/san-francisco-mall/grupo-vivir-san-francisco-mall.PNG') }}" alt="Desarrollador del Proyecto" style="width:40%"></center><hr>
            <h5>Tipo de Financiamiento: <b>Equity</b></h5><br>
            <h5><span class="glyphicon glyphicon-usd">                                 </span> Inversión Mínima: <b>$10K</b></h5>
            
            <h5><span class="glyphicon glyphicon-stats"></span>  TIR Proyectado <b>7.5%</b></h5>
            <h5><span class="glyphicon glyphicon-calendar"></span> Tiempo de Tenencia Aprox. <b>3 - 4 años</b></h5>
             <h5><span class="glyphicon glyphicon-globe"></span> <b>Fondos acumulados</b></h5>
            <div class="row">
                <div class="col-md-1"><p><b>$0</b> </p></div>
                            <div class="col-md-8">
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width:60%;"><b>60%</b>
                                         </div>
                                 </div>
                                </div>
                <div class="col-md-2"><b>$7.2M</b></div>    
                            </div> 
         </div>
      </div>
      <div class="property-info row">
        <div class="col-md-8">
         <h3>PROPIEDAD</h3>
         <p>Plaza comercial de elegante estructura con espacios exclusivos. La propiedad se beneficia de amplias zonas de estacionamientos que ofrecerá locales comerciales para alquiler desde 60 mt2.</p>
         <hr>
         <h3>PRECIO</h3>
         <p>La propiedad tiene un valor previsto de venta de $7.2 millones el cual es un precio conservador a precio de venta de proyectos similares en el área. El mínimo de inversión del proyecto es de $10,000 dólares.
         </p>
         <hr>
         <h3>INVERSIÓN</h3>
            <p>El retorno de inversión es una tasa de interés del 7.5% anualmente por un periodo de 24 meses. El pago del interés es programado Semi Anual.</p></div>
      </div>
      <div class="project-location row">
         <div class="col-md-8"><hr>
         <h3>UBICACIÓN</h3>
         <p>El proyecto está ubicado en calle 74 San Fráncico, ciudad de Panamá, Panamá.
             </p></div>
      </div>
      <!-- project resume FINISHES -->
      <div class="row">
          
        <div class="col-md-8"><hr> <h3>ESTRATEGIA DE PROYECTO</h3>
       
            <p><i class="glyphicon glyphicon-ok-circle"></i> Grupo Inmobiliario Vivir adquirió la propiedad en diciembre del 2015. El desarrollador ha adquirido todos los permisos de construcción del proyecto.
            </p><br>
            <p><i class="glyphicon glyphicon-ok-circle"></i> El dinero recaudado en esta ronda de inversión será utilizado para la construcción de la propiedad comercial.
            </p><br>
            <p><i class="glyphicon glyphicon-ok-circle"></i> Grupo inmobiliario Vivir espera vender la propiedad en marzo del 2020.</p>
            
            </div>
         <div class="project-finance col-md-12">
            <hr>
            <h3>FINANZAS</h3>
            <img class="img-responsive hidden-xs" src="{{ asset('bundles/app/images/proyectos/san-francisco-mall/sanfrancisco-finanzas.png') }}" />
            <img class="img-responsive visible-xs" src="{{ asset('bundles/app/images/proyectos/san-francisco-mall/sanfrancisco-finanzas-mobile1.PNG') }}" />
            <img class="img-responsive visible-xs" src="{{ asset('bundles/app/images/proyectos/san-francisco-mall/sanfrancisco-finanzas-mobile2.PNG') }}" />
       </div>
      </div>
      <hr />
          
          
          <div class="row project-risks">
              <h3 class="text-center">RIESGO DE INVERSIÓN</h3>
              <div class="col-md-8">
          

<h3>RIESGO DE LIQUIDACIÓN</h3>

<p>El inversionista debe estar preparado a retener la inversión por el tiempo estipulado de la misma. Una salida temprana es posible al hacer su venta a otros inversionistas
interesados.</p>
<hr>
<h3>CAPITAL Y RIESGO DE INVERSIÓN</h3>

<p>El capital de inversionista se encuentra en un producto de alto riesgo y el retorno no es garantizado.</p>
<hr>
<h3>RIESGO DEL MERCADO</h3>

<p>Si el mercado de Bienes Raíces en Panamá entra en una desaceleración el valor de la
propiedad se deteriorará. Existe la posibilidad que no se pueda vender la propiedad al
valor estipulado o puede a ver un atraso en el tiempo de venta.</p>
<hr>
<h3>RIESGO DE CONSTRUCCIÓN</h3>

<p>El trabajo de construcción de la propiedad puede tener retrasos fuera del control del
desarrollador del proyecto, tales como insolvencia de los contratistas.</p>
              </div>   
          </div>
          
      <div class="row project-fotos">
          <hr>
         <div class="col-md-12"><h3>IMÁGENES DE LA PROPIEDAD</h3>
         <div id="carousel-santamaria-project" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
               <li data-target="#carousel-santamaria-project" data-slide-to="0" class="active"></li>
               <li data-target="#carousel-sanfranciscomall-project" data-slide-to="1"></li>
               <li data-target="#carousel-sanfranciscomall-project" data-slide-to="2"></li>
               <li data-target="#carousel-sanfranciscomall-project" data-slide-to="3"></li>
            </ol>
            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
               <div class="item active">
                  <img src="{{ asset('bundles/app/images/proyectos/san-francisco-mall/sanfranciscomall1.png') }}" alt="Foto 1">
                  <div class="carousel-caption">
                  </div>
               </div>
               
            </div>
            <!-- Controls -->
            <a class="left carousel-control" href="#carousel-santamaria-project" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Anterior</span>
            </a>
            <a class="right carousel-control" href="#carousel-santamaria-project" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Siguiente</span>
            </a>
         </div>
      </div>
      
       <div class="col-md-12"><h3>IMÁGENES DE LOS PLANOS</h3>
         <div id="carousel-santamaria-project" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
               <li data-target="#carousel-sanfranciscomall-project" data-slide-to="0" class="active"></li>
               <li data-target="#carousel-sanfranciscomall-project" data-slide-to="1"></li>
               <li data-target="#carousel-sanfranciscomall-project" data-slide-to="2"></li>
               <li data-target="#carousel-sanfranciscomall-project" data-slide-to="3"></li>
            </ol>
            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
               <div class="item active">
                  <img src="{{ asset('bundles/app/images/proyectos/san-francisco-mall/sanfranciscomallplanos1.png') }}" alt="Foto 1">
                  <div class="carousel-caption">
                  </div>
               </div>
            </div>
            <!-- Controls -->
            <a class="left carousel-control" href="#carousel-santamaria-project" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Anterior</span>
            </a>
            <a class="right carousel-control" href="#carousel-santamaria-project" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Siguiente</span>
            </a>
         </div>
      </div>   
          
      <hr /></div>
          
      <div class="project-map row">
          <hr>
         <div class="col-md-12"><h3>MAPA</h3>
         <center><iframe src="https://www.google.com/maps/embed?pb=!1m12!1m8!1m3!1d63058.771014341495!2d-79.61370500000001!3d8.956184!3m2!1i1024!2i768!4f13.1!2m1!1sCarr.+Panamericana!5e0!3m2!1ses-419!2spa!4v1481846962205" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe></center>
         <hr>
      </div>
          </div>
          
      <div class="project-confidential row">
         <h3 class="text-center"><i class="glyphicon glyphicon-lock"></i> DOCUMENTOS CONFIDENCIALES Y CHATROOM</h3>
         <div class="col-md-4">
             <h4>¿Deseas invertir en este proyecto?</h4>
            <p>Solicita acceso a el desarrollador del proyecto a documentos confidenciales y Chat Room</p>
<p>El desarrollador del proyecto verificara tu perfil y tomara la decisión de permitirte ser
                miembro inversionista del proyecto.</p>
<p>Luego de acceder podrás ver los documentos privados y conversar con otros inversionistas
en el proyecto por medio del CHAT ROOM</p>
         </div>
         <div class="col-md-offset-1 col-md-3">
            <div class="col-md-12 confidential-access">
               <center><img src="{{ asset('bundles/app/images/documentos-confidenciales-invierte-pty.jpg') }}" alt="Documentos confidenciales y Chat Room" class="img-responsive"></center>
               <center><a href="{{ path('signup') }}" class="btn btn-default">ACCESO</a><br /></center>
            </div>
         </div>
         <div class="col-md-offset-1 col-md-3">
            <div class="col-md-12 confidential-access">
               <center><img src="{{ asset('bundles/app/images/chat-room-invierte-pty.jpg') }}" alt="Documentos confidenciales y Chat Room" class="img-responsive"></center>
               <center><a href="{{ path('signup') }}" class="btn btn-default">IR A CHATROOM</a><br /></center>
            </div>
         </div>
      </div>
      `
      <div class="row">
         <div class="col-md-offset-2 col-md-8">
            <center>
               <a href="{{ path('signup') }}" class="btn btn-lg btn-primary"><span class="glyphicon glyphicon-usd"></span> Invertir en Proyecto</a>
            
            </center>
         </div>
      </div>
   </div>
</div>
</div>


{% endblock %}