{% set active = 'offerings' %}
{% extends 'AppBundle::base.html.twig' %}

{% block title %}Villas de Rio Corona - Invierte PTY{% endblock %}

{% block stylesheets %}
    <link href="{{ asset('bundles/app/css/nivo-lightbox.css') }}" rel="stylesheet">
    <link href="{{ asset('bundles/app/css/nivo-lightbox-theme.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}
<div class="mg-page-riocorona parallax" style="background-position: 36% -15vh;">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2>Villas de Rio Corona </h2>
                                        
                </div>
            </div>
        </div>
    </div>
   <div class="mg-page">
   <div class="container">
      <!-- project resume STARTS -->
      <div class="row">
         <div class="col-md-7">
            <h3>RESUMEN DEL PROYECTO</h3>
            <p>Es un proyecto residencial que cuenta con una ubicación céntrica privilegiada rodeada de naturaleza y a su vez de los servicios necesarios.</p>
<p>El proyecto está ubicado en la provincia de Penonomé. El proyecto contara con la
construcción de 305 viviendas en lotes individuales con un desarrollo en 5 fases
constructivas.</p>
<p>El proceso de construcción de la primera etapa dará inicios Julio del 2017. La segunda
etapa en mayo del 2018.
            </p>
            
            <br />
            
            <h3>DESARROLLADOR DEL PROYECTO</h3>
            <p>Groen Panamá es una innovadora promotora de desarrollos residenciales, la cual cuenta con más de 15 años de experiencia en la industria en proyectos alrededor de la republica de Panamá. Creemos firmemente en crear un proyecto de vivienda social el cual
panameños puedan beneficiarse al invertir conjuntamente con nosotros por medio de
InviertePty. Al mismo tiempo, solucionando el déficit de vivienda de nuestro país.</p>
         </div>
         <div class="col-md-5 projectdata">
             <center><img class="img-responsive" src="{{ asset('bundles/app/images/proyectos/villas-rio-corona/groen.png') }}" alt="Desarrollador del Proyecto" style="width:40%"></center><hr>
            <h5>Tipo de Financiamiento: <b>Equity</b></h5><br>
            <h5><span class="glyphicon glyphicon-usd">                                 </span> Inversión Mínima: <b>$5K</b></h5>
            
            <h5><span class="glyphicon glyphicon-stats"></span>  TIR Proyectado <b>13% - 16%</b></h5>
            <h5><span class="glyphicon glyphicon-calendar"></span> Tiempo de Tenencia Aprox. <b>1.5 - 2.5 años</b></h5>
             <h5><span class="glyphicon glyphicon-globe"></span> <b>Estatus de la Oferta</b></h5>
            <div class="row">
                <div class="col-md-1"><p><b>$0</b> </p></div>
                            <div class="col-md-8">
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width:52%;"><b>52%</b>
                                         </div>
                                 </div>
                                </div>
                <div class="col-md-2"><b>$1M</b></div>    
                            </div> 
         </div>
      </div>
      <div class="property-info row">
        <div class="col-md-8">
         <h3>PROPIEDAD</h3>
        <ul>
            <li>La primera fase del proyecto cuenta con El proyecto consiste en 20 viviendas desde 275 m2 de área de construcción.</li>
            <li>El terreno del proyecto fue adquirido por el Grupo Groen Panamá en diciembre del 2016. El terreno cuenta con área de 25 hectáreas en su totalidad.</li>
            <li>El proyecto cuenta con viviendas de 2 y 3 recamaras, La vivienda Victorias cuenta con un terreno de 275 m2 y una casa de 55.88m2</li>
            </ul>
         <hr>
         <h3>PRECIO</h3>
         <p>Esta etapa del proyecto tiene un valor previsto de venta por $1,000,000 de dólares. Este precio fue calculado en base a el precio de venta actual de proyectos similares.
         </p>
         <hr>
         <h3>INVERSIÓN</h3>
            <p>La tasa Interna de retorno proyectada del proyecto es de 13% - 16% anual con un periodo de tenencia estimado de 1.5 a 2.5 años. La inversión se liquidará al  culminar 85% de la venta del proyecto.</p></div>
      </div>
      <div class="project-location row">
         <div class="col-md-8"><hr>
         <h3>UBICACIÓN</h3>
         <p>El proyecto está ubicado en la provincia de Penonomé. Con una ubicación grafica por excelencia, el proyecto se encuentra a tan solo 5 minutos de:
</p>
          <ul>
              <li>Centros Comerciales: Iguana Mall, Súper 99</li>
              <li>Centros bancarios: Banco Nacional, Banco General, Banesco, Banistmo</li>
              <li>Terminal de buses y transporte publico</li>
              <li>Hospitales: Alquilino Tejeira y el hospital del niño.</li>
             </ul></div>
      </div>
      <!-- project resume FINISHES -->
      <div class="row">
          
        <div class="col-md-8"><hr> <h3>ESTRATEGIA DE PROYECTO</h3>
       
            <p><i class="glyphicon glyphicon-ok-circle"></i> Groen Panamá adquirió 25 hectáreas en el 2016 para desarrollar el proyecto.
            </p><br>
            <p><i class="glyphicon glyphicon-ok-circle"></i> El dinero recaudado en esta ronda de inversión será utilizado para financiar la segunda etapa 1 del proyecto.
            </p><br>
            <p><i class="glyphicon glyphicon-ok-circle"></i> El financiamiento del proyecto está basado en Deuda Bancaria e Inversión privada por medio de esta.</p>
            <p><i class="glyphicon glyphicon-ok-circle"></i> Se espera liquidar la inversión después de aproximadamente 1.5 a 2.5 años cuando el proyecto sea vendido en su totalidad.</p>
            
            </div>
         <div class="project-finance col-md-12">
            <hr>
            <h3>FINANZAS</h3>
            <img class="img-responsive hidden-xs" src="{{ asset('bundles/app/images/proyectos/villas-rio-corona/riocorona-finanzas.png') }}" />
            <img class="img-responsive visible-xs" src="{{ asset('bundles/app/images/proyectos/vista-mar-golf-village/sanfrancisco-finanzas-mobile1.PNG') }}" />
            <img class="img-responsive visible-xs" src="{{ asset('bundles/app/images/proyectos/vista-mar-golf-village/sanfrancisco-finanzas-mobile2.PNG') }}" />
       </div>
      </div>
      <hr />
          
          
          <div class="row project-risks">
              <h3 class="text-center">RIESGO DE INVERSIÓN</h3>
              <div class="col-md-8">
          

<h3>RIESGO DE LIQUIDACIÓN</h3>

<p>El inversionista debe estar preparado a retener la inversión por el tiempo estipulado de la
misma. Una salida temprana es posible al hacer su venta a otros inversionistas
interesados.</p>
<hr>
<h3>CAPITAL Y RIESGO DE INVERSIÓN</h3>

<p>El capital de inversionista se encuentra en un producto de alto riesgo y el retorno no es garantizado.</p>

<p>Hemos estructurado el proyecto bajo supuestos conservadores; en caso de que haya
desaceleraciones en las condiciones del mercado, seamos capaces de cubrir los costos
de la operación y servicio de deuda.</p>
<hr>
<h3>RIESGO DEL MERCADO</h3>

<p>Si el mercado de Bienes Raíces en Panamá entra en una desaceleración el valor de la
propiedad se deteriorará. Existe la posibilidad que no se pueda vender la propiedad al
valor estipulado o puede ocurrir atrasos en el tiempo de venta.</p>
<hr>
<h3>RIESGO DE CONSTRUCCIÓN</h3>

<p>El trabajo de construcción de la propiedad puede tener retrasos fuera del control del
desarrollador del proyecto, tales como insolvencia de los contratistas.</p>
                  <hr>
              </div>   
          </div>
       
      <div class="row project-fotos">
         <div class="col-md-12"><h3>IMÁGENES DE LA PROPIEDAD</h3>
         <div id="carousel-santamaria-project" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
               <li data-target="#carousel-santamaria-project" data-slide-to="0" class="active"></li>
               <li data-target="#carousel-santamaria-project" data-slide-to="1"></li>
               <li data-target="#carousel-santamaria-project" data-slide-to="2"></li>
               <li data-target="#carousel-santamaria-project" data-slide-to="3"></li>
               <li data-target="#carousel-santamaria-project" data-slide-to="4"></li>
               <li data-target="#carousel-santamaria-project" data-slide-to="5"></li>
            </ol>
            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
               <div class="item active">
                  <img src="{{ asset('bundles/app/images/proyectos/villas-rio-corona/riocorona1.jpg') }}" alt="Foto 1">
                  <div class="carousel-caption">
                  </div>
               </div>
               <div class="item">
                  <img src="{{ asset('bundles/app/images/proyectos/villas-rio-corona/riocorona2.jpg') }}" alt="Foto 2">
                  <div class="carousel-caption">
                  </div>
               </div>
               <div class="item">
                  <img src="{{ asset('bundles/app/images/proyectos/villas-rio-corona/riocorona3.jpg') }}" alt="Foto 3">
                  <div class="carousel-caption">
                  </div>
               </div>
                  <div class="item">
                  <img src="{{ asset('bundles/app/images/proyectos/villas-rio-corona/riocorona4.jpg') }}" alt="Foto 3">
                  <div class="carousel-caption">
                  </div>
               </div>
                  <div class="item">
                  <img src="{{ asset('bundles/app/images/proyectos/villas-rio-corona/riocorona5.jpg') }}" alt="Foto 5">
                  <div class="carousel-caption">
                  </div>
               </div>
                <div class="item">
                  <img class="img-repsonsive" src="{{ asset('bundles/app/images/proyectos/villas-rio-corona/riocorona6.jpg') }}" alt="Foto 6">
                  <div class="carousel-caption">
                  </div>
               </div>
                <div class="item">
                  <img class="img-repsonsive" src="{{ asset('bundles/app/images/proyectos/villas-rio-corona/riocorona7.jpg') }}" alt="Foto 7">
                  <div class="carousel-caption">
                  </div>
               </div>
                <div class="item">
                  <img src="{{ asset('bundles/app/images/proyectos/villas-rio-corona/riocorona8.jpg') }}" alt="Foto 8">
                  <div class="carousel-caption">
                  </div>
               </div>
            </div>
            <!-- Controls -->
            <a class="left carousel-control" href="#carousel-santamaria-project" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Anterior</span>
            </a>
            <a class="right carousel-control" href="#carousel-santamaria-project" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Siguiente</span>
            </a>
         </div>
      </div>
      
       <div class="col-md-12"><h3>IMÁGENES DE LOS PLANOS</h3>
         <div id="carousel-santamaria-project" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
               <li data-target="#carousel-santamaria-project" data-slide-to="0" class="active"></li>
               <li data-target="#carousel-santamaria-project" data-slide-to="1"></li>
               <li data-target="#carousel-santamaria-project" data-slide-to="2"></li>
            </ol>
            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
               <div class="item active">
                  <img src="{{ asset('bundles/app/images/proyectos/villas-rio-corona/riocoronaplanos1.png') }}" alt="Foto 1">
                  <div class="carousel-caption">
                  </div>
               </div>
               <div class="item">
                  <img src="{{ asset('bundles/app/images/proyectos/villas-rio-corona/riocoronaplanos2.png') }}" alt="Foto 2">
                  <div class="carousel-caption">
                  </div>
               </div>
              
            </div>
            <!-- Controls -->
            <a class="left carousel-control" href="#carousel-santamaria-project" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Anterior</span>
            </a>
            <a class="right carousel-control" href="#carousel-santamaria-project" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Siguiente</span>
            </a>
         </div>
      </div>   
          
      <hr /></div>
           
       </div>
          
      <div class="project-map container">
          <hr>
         <div class="col-md-12"><h3>MAPA</h3>
         <center><iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d31524.716726083196!2d-79.474177!3d9.009858!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x4d62d5c8a1ae0240!2sGrupo+Resende+Corp!5e0!3m2!1sen!2sus!4v1481850765002" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe></center>
         <hr>
      </div>
          </div>
          
      <div class="project-confidential container">
         <h3 class="text-center"><i class="glyphicon glyphicon-lock"></i> DOCUMENTOS CONFIDENCIALES Y CHATROOM</h3>
         <div class="col-md-4">
             <h4>¿Deseas invertir en este proyecto?</h4>
            <p>Solicita acceso a el desarrollador del proyecto a documentos confidenciales y Chat Room</p>
<p>El desarrollador del proyecto verificara tu perfil y tomara la decisión de permitirte ser
                miembro inversionista del proyecto.</p>
<p>Luego de acceder podrás ver los documentos privados y conversar con otros inversionistas
en el proyecto por medio del CHAT ROOM</p>
         </div>
         <div class="col-md-offset-1 col-md-3">
            <div class="col-md-12 confidential-access">
               <center><img src="{{ asset('bundles/app/images/documentos-confidenciales-invierte-pty.jpg') }}" alt="Documentos confidenciales y Chat Room" class="img-responsive"></center>
               <center><a href="{{ path('signup') }}" class="btn btn-default">ACCESO</a><br /></center>
            </div>
         </div>
         <div class="col-md-offset-1 col-md-3">
            <div class="col-md-12 confidential-access">
               <center><img src="{{ asset('bundles/app/images/chat-room-invierte-pty.jpg') }}" alt="Documentos confidenciales y Chat Room" class="img-responsive"></center>
               <center><a href="{{ path('signup') }}" class="btn btn-default">IR A CHATROOM</a><br /></center>
            </div>
         </div>
      </div>
      `
      <div class="row">
         <div class="col-md-offset-2 col-md-8">
            <center>
               <a href="{{ path('signup') }}" class="btn btn-lg btn-primary"><span class="glyphicon glyphicon-usd"></span> Invertir en Proyecto</a>
            
            </center>
         </div>
      </div>
   </div>
</div>
</div>


{% endblock %}