{% set active = 'offerings' %}
{% extends 'AppBundle::base.html.twig' %}

{% block title %}Vista Mar Golf Village - Invierte PTY{% endblock %}

{% block stylesheets %}
    <link href="{{ asset('bundles/app/css/nivo-lightbox.css') }}" rel="stylesheet">
    <link href="{{ asset('bundles/app/css/nivo-lightbox-theme.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}
<div class="mg-page-santamariagolf parallax" style="background-position: 36% -15vh;">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2>Residencial Vista Mar Golf Village</h2>
                                        
                </div>
            </div>
        </div>
    </div>
   <div class="mg-page">
        <div class="container">
              <!-- project resume STARTS -->
            <div class="row">
                <div class="col-md-7">
                    
                      <h1>Resumen del Proyecto</h1>
<p>La primera etapa de Vistamar Golf Village es un proyecto que consta de 14 lujosas villas.
Con área de construcción de 325,52 mts2 en lotes privados desde 675 a 943 mts2. El
proyecto es parte del proyecto de una cancha de golf y la exclusividad del complejo
Vistamar Beach and Golf Resort.</p>
                 <br />
 <img class="img-responsive" src="{{ asset('bundles/app/images/proyectos/santa-maria/grupo-resende.PNG') }}" alt="Desarrollador del Proyecto">
<h2>Desarrollador del Proyecto</h2>
<p>Grupo Resende Corp con más de 40 años de experiencia en el sector de la construcción
en Venezuela. En el 2010 se establecieron en Panamá para desarrollar proyectos
residenciales y comerciales. Grupo Resende Corp mantiene estrechas relaciones con el
Grupo Shahani, empresa con más de 40 años de experiencia en el sector de bienes
raíces.</p>
                    
                    
                </div>
                <div class="col-md-offset-1 col-md-4 projectdata">
                <h5>TIPO DE FINANCIAMIENTO: <b>EQUITY</b></h5>
                    <h5><span class="glyphicon glyphicon-usd">                                 </span> Inversión Mínima: <b>$ 25 K</b></h5>
                    <hr>
                    <h5><span class="glyphicon glyphicon-globe"></span> <b>Fondos acumulados</b></h5>
                    <div class="progress">
                                        <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width:60%;">60%</div>
                                 </div>
                    <h5><span class="glyphicon glyphicon-stats"></span>  TIR Proyectada <b>14% - 16%</b></h5>
                    <h5><span class="glyphicon glyphicon-calendar"></span> Periodo Estimado <b>3 - a 4 años</b></h5>
                    
                </div>
                       
                            </div>
            
            
                            <div class="project-location row">
                                 <hr>
                                <h3>Ubicación</h3>

<p>El proyecto está ubicado a pocos metros del Océano Pacifico y a tan solo 90 km de la
ciudad de Panamá.</p>
                        </div>
    <!-- project resume FINISHES -->
            
            <div class="property-info row">
                           

 <h3>Propiedad</h3>
<p>La primera etapa de Vistamar Golf Village es un proyecto que consta de 14 lujosas villas.
Con área de construcción de 325,52 mts2 en lotes privados desde 675 a 943 mts2. El
proyecto es parte del proyecto de una cancha de golf y la exclusividad del complejo
Vistamar Beach and Golf Resort.</p>





<h3>Precio</h3>
<p>Esta etapa del proyecto tiene un valor previsto de venta por $100, 000.00. Este precio fue
calculado en base a el precio de ventas actual de proyectos similares.</p>
<h3>Inversion</h3>
<p>El TIR proyectado del proyecto es de 16 - 19% con periodo de tenencia de 2 a 3 años.</p>
          <hr></div>
                    <div class="col-md-12 pp-estrategia-proyecto">
    <h2>Estrategia del Proyecto</h2>
 <div class="col-md-4">
     El Ideal Living Corp. adquirió el terreno por 284 hectáreas para desarrollar el proyecto.
    </div>


 <div class="col-md-4">
El dinero recaudado en esta ronda de inversión será utilizado para la construcción de la etapa final del proyecto. </div>
 <div class="col-md-4">
Se espera liquidar la inversión después de aproximadamente 3 a 4 años cuando el proyecto sea vendido en su totalidad.</div>  
    
    <div class="project-finance col-md-12">
        <hr>
                            <h2>Finanzas</h2>
                  <img class="img-responsive hidden-xs" src="{{ asset('bundles/app/images/proyectos/santa-maria/santamaria-finanzas.PNG') }}" />
        <img class="img-responsive visible-xs" src="{{ asset('bundles/app/images/proyectos/santa-maria/santamaria-finanzas-mobile1.PNG') }}" />
        <img class="img-responsive visible-xs" src="{{ asset('bundles/app/images/proyectos/santa-maria/santamaria-finanzas-mobile2.PNG') }}" />
                        <ul>
                            </div>
    
</div>
                <hr />
                
                <div class="col-md-12 pp-estrategia-proyecto">
 
 <div class="col-md-4">
     <h4>Costo del Proyecto</h4>
     <p>$12,000 000.00 67% “Banco”  </p>
     <p>$1,500 000.00   8% “Inversionista”</p>
     <p>$5,000 000.00 27% “Ideal Living Corp” </p>
    </div>

                    
 <div class="col-md-offset-4 col-md-4">
 <h4>Precio de Venta Estimado</h4>
     <p>$1,475 000.00 “Ganancia Proyecto” 20%</p>
     <p>$2,000 000.00 “Grupo Vivir Equity “ 28%</p>
     <p>$575,000.00 “Inversionista” 8.0%</p>
     <p>$3,150 000.00 “Banco” 44%</p>
</div>
                   
                </div>
                        
                        <div class="project-risks">
                            <h3>Riesgos y Mitigaciones</h3>
                        NONE
                        </div>
                        
                         <div class="project-fotos">
                        <h3>Imagenes de la Propiedad</h3>
                             
                             <div id="carousel-santamaria-project" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-santamaria-project" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-santamaria-project" data-slide-to="1"></li>
    <li data-target="#carousel-santamaria-project" data-slide-to="2"></li>
      <li data-target="#carousel-santamaria-project" data-slide-to="3"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <img src="{{ asset('bundles/app/images/proyectos/santa-maria/santamaria1.PNG') }}" alt="Foto 1">
      <div class="carousel-caption">
      
      </div>
    </div>
    <div class="item">
      <img src="{{ asset('bundles/app/images/proyectos/santa-maria/santamaria2.PNG') }}" alt="Foto 2">
      <div class="carousel-caption">

      </div>
    </div>
      <div class="item">
      <img src="{{ asset('bundles/app/images/proyectos/santa-maria/santamaria3.PNG') }}" alt="Foto 3">
      <div class="carousel-caption">

      </div>
    </div>
   
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-santamaria-project" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Anterior</span>
  </a>
  <a class="right carousel-control" href="#carousel-santamaria-project" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Siguiente</span>
  </a>
</div>
                             
                        </div>
                        
                         <div class="project-planes">
                             <hr>
                        <h3>Planos de la Propiedad</h3>
                             
                             <div id="carousel-santamaria-project" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-santamaria-project" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-santamaria-project" data-slide-to="1"></li>
    <li data-target="#carousel-santamaria-project" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <img src="{{ asset('bundles/app/images/proyectos/santa-maria/santamariaplanos1.PNG') }}" alt="Plano 1">
     
    </div>
    <div class="item">
      <img src="{{ asset('bundles/app/images/proyectos/santa-maria/santamariaplanos2.PNG') }}" alt="Plano 2">
      
    </div>
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-santamaria-project" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Anterior</span>
  </a>
  <a class="right carousel-control" href="#carousel-santamaria-project" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Siguiente</span>
  </a>
</div>
                        </div>             
                    
                    
                  
          
                    
            
                <hr />

      
                <div class="project-map">
                                <h3>Mapa</h3>


                       <center><iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d7880.792236191178!2d-79.454231!3d9.027582!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xa77eba329c36bb69!2sSanta+Mar%C3%ADa+Golf+%26+Country+Club!5e0!3m2!1ses-419!2spa!4v1481009978739" width="100%" height="400px" frameborder="0" style="border:0" allowfullscreen></iframe></center>
                    <hr>
                        </div>
                
                <div class="project-confidential row">
                                <h3><i class="glyphicon glyphicon-lock"></i> Documentos Confidenciales y Chat Room</h3>
                    
                    
                    <div class="col-md-4"><p>Luego de verificar su perfil de usuario, INVIERTE PTY le permitirá ver documentos privados y conversar con otros inversionistas que participan en el proyecto.</p></div>
                    <div class="col-md-4">
                        <div class="col-md-12 confidential-access">
                            <center><img src="{{ asset('bundles/app/images/documentos-confidenciales-invierte-pty.jpg') }}" alt="Documentos confidenciales y Chat Room" class="img-responsive"></center>
                        <center><a href="{{ path('signup') }}" class="btn btn-default">ACCESO</a><br /></center>
                            
                        </div>
                    
                    </div>
                    <div class="col-md-4">
                        <div class="col-md-12 confidential-access">
                            <center><img src="{{ asset('bundles/app/images/chat-room-invierte-pty.jpg') }}" alt="Documentos confidenciales y Chat Room" class="img-responsive"></center>
                        <center><a href="{{ path('signup') }}" class="btn btn-default">IR A CHATROOM</a><br /></center>
                            
                        </div>
                    
                    </div>


                        </div>
                    
                    `<div class="row">
                <div class="col-md-offset-2 col-md-8">
               <center>
               <a href="{{ path('signup') }}" class="btn btn-lg btn-success"><span class="glyphicon glyphicon-usd"></span> Invertir en Proyecto</a>
                    <a class="btn btn-lg btn-danger"><span class="glyphicon glyphicon-heart"></span> Agregar a Favoritos</a>
                    </center>
                </div>
                </div>
            </div>


        </div>
    </div>

{% endblock %}