{% set active = 'offerings' %}
{% extends 'AppBundle::base.html.twig' %}

{% block title %}Vista Mar Golf Village - Invierte PTY{% endblock %}

{% block stylesheets %}
    <link href="{{ asset('bundles/app/css/nivo-lightbox.css') }}" rel="stylesheet">
    <link href="{{ asset('bundles/app/css/nivo-lightbox-theme.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}
<div class="mg-page-vistamar parallax" style="background-position: 36% -15vh;">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2>Residencial Vista Mar Golf Village</h2>
                                        
                </div>
            </div>
        </div>
    </div>
   <div class="mg-page">
   <div class="container">
      <!-- project resume STARTS -->
      <div class="row">
         <div class="col-md-7">
            <h3>RESUMEN DEL PROYECTO</h3>
            <p>La primera etapa de Vistamar Golf Village es un proyecto que consta de 14 lujosas villas. El proyecto es parte del proyecto de una cancha de golf y la exclusividad del complejo Vistamar Beach and Golf Resort.
            </p>
            
            <br />
            
            <h3>DESARROLLADOR DEL PROYECTO</h3>
            <p>Grupo Resende Corp con más de 40 años de experiencia en el sector de la construcción en Venezuela. En el 2010 se establecieron en Panamá para desarrollar proyectos residenciales y comerciales. Grupo Resende Corp mantiene estrechas relaciones con el Grupo Shahani, empresa con más de 40 años de experiencia en el sector de bienes
raíces. </p>
         </div>
         <div class="col-md-5 projectdata">
             <center><img class="img-responsive" src="{{ asset('bundles/app/images/proyectos/vista-mar-golf-village/grupo-resende.PNG') }}" alt="Desarrollador del Proyecto" style="width:40%"></center><hr>
            <h5>Tipo de Financiamiento: <b>Equity</b></h5><br>
            <h5><span class="glyphicon glyphicon-usd">                                 </span> Inversión Mínima: <b>$5K</b></h5>
            
            <h5><span class="glyphicon glyphicon-stats"></span>  TIR Proyectado <b>16% - 19%</b></h5>
            <h5><span class="glyphicon glyphicon-calendar"></span> Tiempo de Tenencia Aprox. <b>2 - 3 años</b></h5>
             <h5><span class="glyphicon glyphicon-globe"></span> <b>Estatus de la Oferta</b></h5>
            <div class="row">
                <div class="col-md-1"><p><b>$0</b> </p></div>
                            <div class="col-md-8">
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width:30%;"><b>30%</b>
                                         </div>
                                 </div>
                                </div>
                <div class="col-md-2"><b>$75M</b></div>    
                            </div> 
         </div>
      </div>
      <div class="property-info row">
        <div class="col-md-8">
         <h3>PROPIEDAD</h3>
         <p>La primera etapa de Vistamar Golf Village consta con un área de construcción de 325,52 mts2 en lotes privados desde 675 a 943 mts2.</p>
         <hr>
         <h3>PRECIO</h3>
         <p>Esta etapa del proyecto tiene un valor previsto de venta por $100, 000.00. Este precio fue calculado en base a el precio de ventas actual de proyectos similares.
         </p>
         <hr>
         <h3>INVERSIÓN</h3>
            <p>El TIR proyectado del proyecto es de 16 - 19% con periodo de tenencia de 2 a 3 años. El mínimo de inversión del proyecto es de $5,000 dólares.</p></div>
      </div>
      <div class="project-location row">
         <div class="col-md-8"><hr>
         <h3>UBICACIÓN</h3>
         <p>El proyecto está ubicado a pocos metros del Océano Pacifico y a tan solo 90 km de la ciudad de Panamá.</p></div>
      </div>
      <!-- project resume FINISHES -->
      <div class="row">
          
        <div class="col-md-8"><hr> <h3>ESTRATEGIA DE PROYECTO</h3>
       
            <p><i class="glyphicon glyphicon-ok-circle"></i> Grupo Resende Corp adquirió el terreno por 300 hectáreas para desarrollar el proyecto.
            </p><br>
            <p><i class="glyphicon glyphicon-ok-circle"></i> El dinero recaudado en esta ronda de inversión será utilizado para la construcción de la etapa final del proyecto.
            </p><br>
            <p><i class="glyphicon glyphicon-ok-circle"></i> Se espera liquidar la inversión después de aproximadamente 2 a 3 años cuando el proyecto sea vendido en su totalida.</p>
            
            </div>
         <div class="project-finance col-md-12">
            <hr>
            <h3>FINANZAS</h3>
            <img class="img-responsive hidden-xs" src="{{ asset('bundles/app/images/proyectos/vista-mar-golf-village/vistamar-finanzas.png') }}" />
            <img class="img-responsive visible-xs" src="{{ asset('bundles/app/images/proyectos/vista-mar-golf-village/sanfrancisco-finanzas-mobile1.PNG') }}" />
            <img class="img-responsive visible-xs" src="{{ asset('bundles/app/images/proyectos/vista-mar-golf-village/sanfrancisco-finanzas-mobile2.PNG') }}" />
       </div>
      </div>
      <hr />
          
          
          <div class="row project-risks">
              <h3 class="text-center">RIESGO DE INVERSIÓN</h3>
              <div class="col-md-8">
          

<h3>RIESGO DE LIQUIDACIÓN</h3>

<p>El inversionista debe estar preparado a retener la inversión por el tiempo estipulado de la misma. Una salida temprana es posible al hacer su venta a otros inversionistas
interesados.</p>
<hr>
<h3>CAPITAL Y RIESGO DE INVERSIÓN</h3>

<p>El capital de inversionista se encuentra en un producto de alto riesgo y el retorno no es garantizado.</p>

<p>Hemos estructurado el proyecto bajo supuestos conservadores; en caso de que haya
desaceleraciones en las condiciones del mercado, seamos capaces de cubrir los costos
de la operación y servicio de deuda.</p>
<hr>
<h3>RIESGO DEL MERCADO</h3>

<p>Si el mercado de Bienes Raíces en Panamá entra en una desaceleración el valor de la
propiedad se deteriorará. Existe la posibilidad que no se pueda vender la propiedad al
valor estipulado o puede ocurrir atrasos en el tiempo de venta.</p>
<hr>
<h3>RIESGO DE CONSTRUCCIÓN</h3>

<p>El trabajo de construcción de la propiedad puede tener retrasos fuera del control del
desarrollador del proyecto, tales como insolvencia de los contratistas.</p>
                  <hr>
              </div>   
          </div>
       
      <div class="row project-fotos">
         <div class="col-md-12"><h3>IMÁGENES DE LA PROPIEDAD</h3>
         <div id="carousel-santamaria-project" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
               <li data-target="#carousel-vistamar-project" data-slide-to="0" class="active"></li>
               <li data-target="#carousel-vistamar-project" data-slide-to="1"></li>
               <li data-target="#carousel-vistamar-project" data-slide-to="2"></li>
               <li data-target="#carousel-vistamar-project" data-slide-to="3"></li>
            </ol>
            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
               <div class="item active">
                  <img src="{{ asset('bundles/app/images/proyectos/vista-mar-golf-village/vistamar1.PNG') }}" alt="Foto 1">
                  <div class="carousel-caption">
                  </div>
               </div>
               
            </div>
            <!-- Controls -->
            <a class="left carousel-control" href="#carousel-santamaria-project" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Anterior</span>
            </a>
            <a class="right carousel-control" href="#carousel-santamaria-project" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Siguiente</span>
            </a>
         </div>
      </div>
      
       <div class="col-md-12"><h3>IMÁGENES DE LOS PLANOS</h3>
         <div id="carousel-vistamar-project" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
               <li data-target="#carousel-vistamar-project" data-slide-to="0" class="active"></li>
               <li data-target="#carousel-vistamar-project" data-slide-to="1"></li>
               <li data-target="#carousel-vistamar-project" data-slide-to="2"></li>
               <li data-target="#carousel-vistamar-project" data-slide-to="3"></li>
            </ol>
            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
               <div class="item active">
                  <img src="{{ asset('bundles/app/images/proyectos/vista-mar-golf-village/vistamarplanos1.PNG') }}" alt="Foto 1">
                  <div class="carousel-caption">
                  </div>
               </div>
            </div>
            <!-- Controls -->
            <a class="left carousel-control" href="#carousel-vistamar-project" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Anterior</span>
            </a>
            <a class="right carousel-control" href="#carousel-vistamar-project" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Siguiente</span>
            </a>
         </div>
      </div>   
          
      <hr /></div>
           
       </div>
          
      <div class="project-map row">
          <hr>
         <div class="col-md-12"><h3>MAPA</h3>
         <center><iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d31524.716726083196!2d-79.474177!3d9.009858!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x4d62d5c8a1ae0240!2sGrupo+Resende+Corp!5e0!3m2!1sen!2sus!4v1481850765002" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe></center>
         <hr>
      </div>
          </div>
          
      <div class="project-confidential row">
         <h3 class="text-center"><i class="glyphicon glyphicon-lock"></i> DOCUMENTOS CONFIDENCIALES Y CHATROOM</h3>
         <div class="col-md-4">
             <h4>¿Deseas invertir en este proyecto?</h4>
            <p>Solicita acceso a el desarrollador del proyecto a documentos confidenciales y Chat Room</p>
<p>El desarrollador del proyecto verificara tu perfil y tomara la decisión de permitirte ser
                miembro inversionista del proyecto.</p>
<p>Luego de acceder podrás ver los documentos privados y conversar con otros inversionistas
en el proyecto por medio del CHAT ROOM</p>
         </div>
         <div class="col-md-offset-1 col-md-3">
            <div class="col-md-12 confidential-access">
               <center><img src="{{ asset('bundles/app/images/documentos-confidenciales-invierte-pty.jpg') }}" alt="Documentos confidenciales y Chat Room" class="img-responsive"></center>
               <center><a href="{{ path('signup') }}" class="btn btn-default">ACCESO</a><br /></center>
            </div>
         </div>
         <div class="col-md-offset-1 col-md-3">
            <div class="col-md-12 confidential-access">
               <center><img src="{{ asset('bundles/app/images/chat-room-invierte-pty.jpg') }}" alt="Documentos confidenciales y Chat Room" class="img-responsive"></center>
               <center><a href="{{ path('signup') }}" class="btn btn-default">IR A CHATROOM</a><br /></center>
            </div>
         </div>
      </div>
      `
      <div class="row">
         <div class="col-md-offset-2 col-md-8">
            <center>
               <a href="{{ path('signup') }}" class="btn btn-lg btn-primary"><span class="glyphicon glyphicon-usd"></span> Invertir en Proyecto</a>
            
            </center>
         </div>
      </div>
   </div>
</div>
</div>


{% endblock %}