{% set active = 'offerings' %}
{% extends 'AppBundle::base.html.twig' %}

{% block title %}Western Logistic Center - Invierte PTY{% endblock %}

{% block stylesheets %}
    <link href="{{ asset('bundles/app/css/nivo-lightbox.css') }}" rel="stylesheet">
    <link href="{{ asset('bundles/app/css/nivo-lightbox-theme.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}
<div class="mg-page-westernlogistic parallax" style="background-position: 36% -15vh;">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2>Western Logistic Center</h2>
                                        
                </div>
            </div>
        </div>
    </div>
  <div class="mg-page">
   <div class="container">
      <!-- project resume STARTS -->
      <div class="row">
         <div class="col-md-7">
            <h1>Resumen de Proyecto</h1>
                    <p>Moderno centro de Ofi-bodegas destinado a suplir la creciente demanda de distribución y redistribución de mercancías en el área oeste del país. Es en la actualidad el único centro
logístico, en los alrededores del interior de la ciudad con capacidad de acceso directo desde ambas direcciones de la vía panamá americana.</p>

<p>WLC estará dotado con garita de seguridad con vigilancia 24/7, amplios
estacionamientos, sistema CCTV, cerramiento perimetral, facilidades de áreas comunes
para personal de servicio, electricidad soterrada, sistemas contra incendio, prevención de
    aire acondicionado, áreas de oficinas y servicios de galeras.</p>

<p>El enfoque del complejo logístico está orientado hacia clientes cuyo objetivo está
relacionado con movimiento de carga por tierra, entre la ciudad de panamá y el resto del
interior del país.</p>
                    
                    <hr>
                    <h2>Desarrollador del Proyecto</h2>
                    <p>La creación de Western Logistics Center se deriva de la fusión de dos importantes 
                        conocidos y pujantes miembros de la industria de la construcción en Panamá. </p>
             
<p>Uno, empresario con más de 50 años de experiencia en el mercado local y en la industria 
de la construcción. Otro de los inversionistas es ingeniero civil con más de 12 años de 
experiencia en la industria de la construcción, el cual lleva en su haber un importante 
portafolio de obras ejecutadas con profesionalismo, responsabilidad y eficiencia probadas.</p>
         </div>
         <div class="col-md-5 projectdata">
             <hr>
            <h5>Tipo de Financiamiento: <b>Equity</b></h5><br>
            <h5><span class="glyphicon glyphicon-usd">                                 </span> Inversión Mínima: <b>$5K</b></h5>
            <h5><span class="glyphicon glyphicon-stats"></span>  TIR Proyectado <b>16% - 19%</b></h5>
            <h5><span class="glyphicon glyphicon-calendar"></span> Tiempo de Tenencia Aprox. <b>2 - 4 años</b></h5>
             <h5><span class="glyphicon glyphicon-globe"></span> <b>Fondos acumulados</b></h5>
            <div class="row">
                <div class="col-md-1"><p><b>$0</b> </p></div>
                            <div class="col-md-8">
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100" style="width:15%;"><b>15%</b>
                                         </div>
                                 </div>
                                </div>
                <div class="col-md-2"><b>$1M</b></div>    
                            </div> 
         </div>
      </div>
      <div class="property-info row">
        <div class="col-md-8">
         <h3>PROPIEDAD</h3>
         <p>Espacios aproximados de 1,000 mts.2 individuales o el resultado de la fusión de varios

dependiendo de las necesidades del cliente Alturas de 10 metros y mezzanine a 5 metros

de alto. Doble pisos para camiones y anden para contenedores hasta 45pies. Pisos con

resistencia de carga de 4,000 lbs/pulg2, en el área interna de las galeras. Los techos

cubiertos de paneles con aislante térmico.</p>
         <hr>
         <h3>PRECIO</h3>
         <p>La propiedad tiene un valor previsto de venta de $8.708 millones el cual es un precio conservador a precio de venta de proyectos.
         </p>
         <hr>
         <h3>INVERSIÓN</h3>
            <p>El TIR proyectado del proyecto es de 12 - 16% con periodo de tenencia de 3 a 4 años. El

mínimo de inversión del proyecto es de $15,000 dólares.</p></div>
      </div>
      <div class="project-location row">
         <div class="col-md-8"><hr>
         <h3>UBICACIÓN</h3>
         <p>El proyecto está ubicado sobre la Vía Panamericana, en el kilómetro 43 desde la ciudad
de Panamá, a 5 minutos de la salida de la Autopista Arraiján-La Chorrera.</p></div>
      </div>
      <!-- project resume FINISHES -->
      <div class="row">
          
        <div class="col-md-8"><hr> <h3>ESTRATEGIA DE PROYECTO</h3>
       
            <p><i class="glyphicon glyphicon-ok-circle"></i> Se espera liquidar la inversión después de aproximadamente tres años de operación (Q42021), al vender la propiedad completa.
            </p><br>
            <p><i class="glyphicon glyphicon-ok-circle"></i> Precio de Venta estimado $9.499 millones y un Cap Rate de aproximadamente 7.8%.  </p><br>
            <p><i class="glyphicon glyphicon-ok-circle"></i> El proyecto se encuentra en la etapa final de construcción la cual será financiada por medio de esta ronda de inversión.</p>
            <p><i class="glyphicon glyphicon-ok-circle"></i> Se espera liquidar la inversión después de aproximadamente 2 a 3 años cuando el proyecto sea vendido en su totalidad.</p>
            </div>
         <div class="project-finance col-md-12">
            <hr>
            <h3>FINANZAS</h3>
            <img class="img-responsive hidden-xs" src="{{ asset('bundles/app/images/proyectos/western-logistic/wlc-finanzas.png') }}" />
            <img class="img-responsive visible-xs" src="{{ asset('bundles/app/images/proyectos/western-logistic/wlc-finanzas-mobile1.png') }}" />
            <img class="img-responsive visible-xs" src="{{ asset('bundles/app/images/proyectos/western-logistic/wlc-finanzas-mobile2.png') }}" />
       </div>
      </div>
      <hr />
          
          
          <div class="row project-risks">
              <h3 class="text-center">RIESGO DE INVERSIÓN</h3>
              <div class="col-md-8">
          

<h3>RIESGO DE LIQUIDACIÓN</h3>

<p>El inversionista debe estar preparado a retener la inversión por el tiempo estipulado de la

misma. Una salida temprana es posible al hacer su venta a otros inversionistas

interesados.</p>
<hr>
<h3>CAPITAL Y RIESGO DE INVERSIÓN</h3>

<p>El capital de inversionista se encuentra en un producto de alto riesgo y el retorno no es
    garantizado.</p>
Hemos estructurado el proyecto bajo supuestos conservadores; en caso de que haya
desaceleraciones en las condiciones del mercado, seamos capaces de cubrir los costos
de la operación y servicio de deuda.</p>
<hr>
<h3>RIESGO DEL MERCADO</h3>

<p>Si el mercado de Bienes Raíces en Panamá entra en una desaceleración el valor de la
propiedad se deteriorará. Existe la posibilidad que no se pueda vender la propiedad al
valor estipulado o puede ocurrir atrasos en el tiempo de venta.</p>
<hr>
<h3>RIESGO DE CONSTRUCCIÓN</h3>

<p>El trabajo de construcción de la propiedad puede tener retrasos fuera del control del
desarrollador del proyecto, tales como insolvencia de los contratistas.</p>
              </div>   
          </div>
          
      <div class="row project-fotos">
          <hr>
         <div class="col-md-12"><h3>IMÁGENES DE LA PROPIEDAD</h3>
         <div id="carousel-santamaria-project" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
               <li data-target="#carousel-santamaria-project" data-slide-to="0" class="active"></li>
               <li data-target="#carousel-santamaria-project" data-slide-to="1"></li>
               <li data-target="#carousel-santamaria-project" data-slide-to="2"></li>
               <li data-target="#carousel-santamaria-project" data-slide-to="3"></li>
            </ol>
            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
               <div class="item active">
                  <img src="{{ asset('bundles/app/images/proyectos/western-logistic/wlc1.png') }}" alt="Foto 1">
                  <div class="carousel-caption">
                  </div>
               </div>
               <div class="item">
                  <img src="{{ asset('bundles/app/images/proyectos/western-logistic/wlc2.png') }}" alt="Foto 2">
                  <div class="carousel-caption">
                  </div>
               </div>
               <div class="item">
                  <img src="{{ asset('bundles/app/images/proyectos/western-logistic/wlc3.png') }}" alt="Foto 3">
                  <div class="carousel-caption">
                  </div>
               </div>
            </div>
            <!-- Controls -->
            <a class="left carousel-control" href="#carousel-santamaria-project" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Anterior</span>
            </a>
            <a class="right carousel-control" href="#carousel-santamaria-project" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Siguiente</span>
            </a>
         </div>
      </div>
      
       <div class="col-md-12"><h3>IMÁGENES DE LA PROPIEDAD</h3>
         <div id="carousel-santamaria-project" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
               <li data-target="#carousel-santamaria-project" data-slide-to="0" class="active"></li>
               <li data-target="#carousel-santamaria-project" data-slide-to="1"></li>
               <li data-target="#carousel-santamaria-project" data-slide-to="2"></li>
               <li data-target="#carousel-santamaria-project" data-slide-to="3"></li>
            </ol>
            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
               <div class="item active">
                  <img src="{{ asset('bundles/app/images/proyectos/western-logistic/wlcplanos1.jpg') }}" alt="Foto 1">
                  <div class="carousel-caption">
                  </div>
               </div>
               <div class="item">
                  <img src="{{ asset('bundles/app/images/proyectos/western-logistic/wlcplanos2.jpg') }}" alt="Foto 2">
                  <div class="carousel-caption">
                  </div>
               </div>
               <div class="item">
                  <img src="{{ asset('bundles/app/images/proyectos/western-logistic/wlcplanos3.jpg') }}" alt="Foto 3">
                  <div class="carousel-caption">
                  </div>
               </div>
            </div>
            <!-- Controls -->
            <a class="left carousel-control" href="#carousel-santamaria-project" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Anterior</span>
            </a>
            <a class="right carousel-control" href="#carousel-santamaria-project" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Siguiente</span>
            </a>
         </div>
      </div>
          
      <hr /></div>
          
      <div class="project-map row">
          <hr>
         <div class="col-md-12"><h3>MAPA</h3>
         <center><iframe src="https://www.google.com/maps/embed?pb=!1m12!1m8!1m3!1d63058.771014341495!2d-79.61370500000001!3d8.956184!3m2!1i1024!2i768!4f13.1!2m1!1sCarr.+Panamericana!5e0!3m2!1ses-419!2spa!4v1481846962205" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe></center>
         <hr>
      </div>
          </div>
          
      <div class="project-confidential row">
         <h3 class="text-center"><i class="glyphicon glyphicon-lock"></i> DOCUMENTOS CONFIDENCIALES Y CHATROOM</h3>
         <div class="col-md-4">
             <h4>¿Deseas invertir en este proyecto?</h4>
            <p>Solicita acceso a el desarrollador del proyecto a documentos confidenciales y Chat Room</p>
<p>El desarrollador del proyecto verificara tu perfil y tomara la decisión de permitirte ser
                miembro inversionista del proyecto.</p>
<p>Luego de acceder podrás ver los documentos privados y conversar con otros inversionistas
en el proyecto por medio del CHAT ROOM</p>
         </div>
         <div class="col-md-offset-1 col-md-3">
            <div class="col-md-12 confidential-access">
               <center><img src="{{ asset('bundles/app/images/documentos-confidenciales-invierte-pty.jpg') }}" alt="Documentos confidenciales y Chat Room" class="img-responsive"></center>
               <center><a href="{{ path('signup') }}" class="btn btn-default">ACCESO</a><br /></center>
            </div>
         </div>
         <div class="col-md-offset-1 col-md-3">
            <div class="col-md-12 confidential-access">
               <center><img src="{{ asset('bundles/app/images/chat-room-invierte-pty.jpg') }}" alt="Documentos confidenciales y Chat Room" class="img-responsive"></center>
               <center><a href="{{ path('signup') }}" class="btn btn-default">IR A CHATROOM</a><br /></center>
            </div>
         </div>
      </div>
      `
      <div class="row">
         <div class="col-md-offset-2 col-md-8">
            <center>
               <a href="{{ path('signup') }}" class="btn btn-lg btn-primary"><span class="glyphicon glyphicon-usd"></span> Invertir en Proyecto</a>
            
            </center>
         </div>
      </div>
   </div>
</div>
</div>

{% endblock %}