{% set active = 'offerings' %}
{% extends 'AppBundle::base.html.twig' %}

{% block title %}Western Logistic Center - Invierte PTY{% endblock %}

{% block stylesheets %}
    <link href="{{ asset('bundles/app/css/nivo-lightbox.css') }}" rel="stylesheet">
    <link href="{{ asset('bundles/app/css/nivo-lightbox-theme.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}
<div class="mg-page-westernlogistic parallax" style="background-position: 36% -15vh;">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2>Western Logistic Center</h2>
                                        
                </div>
            </div>
        </div>
    </div>
   <div class="mg-page">
        <div class="container">
              <!-- project resume STARTS -->
            <div class="row">
                <div class="col-md-7">
                    <h1>Resumen de Proyecto</h1>
                    <p>Moderno centro de Ofi-bodegas destinado a suplir la creciente demanda de distribución y redistribución de mercancías en el área oeste del país. Es en la actualidad el único centro
logístico, en los alrededores del interior de la ciudad con capacidad de acceso directo desde ambas direcciones de la vía panamá americana.</p>
                    <p>WLC estará dotado con garita de seguridad con vigilancia 24/7, amplios
estacionamientos, sistema CCTV, cerramiento perimetral, facilidades de áreas comunes para personal de servicio, electricidad soterrada, sistemas contra incendio, prevención de aire acondicionado, áreas de oficinas y servicios de galeras.</p>
                    <p>El enfoque del complejo logístico está orientado hacia clientes cuyo objetivo está relacionado con movimiento de carga por tierra, entre la ciudad de panamá y el resto del interior del país.</p>
                    
                    <hr>
                    <h2>Desarrollador del Proyecto</h2>
                    <p>La creación de Western Logistics Center se deriva de la fusión de dos importantes
                        conocidos y pujantes miembros de la industria de la construcción en panamá.</p>
                    <p>Uno, empresario con más de 50 años de experiencia en el mercado local y en la industria de la construcción, incorporando nuevas e innovadoras marcas que representa en el mercado local.</p>
<p>Otro de los inversionistas es ingeniero civil con más de 12 años de experiencia en la industria de la construcción, el cual lleva en su haber un importante portafolio de obras ejecutadas con profesionalismo, responsabilidad y eficiencia probadas.</p>
                </div>
                <div class="col-md-offset-1 col-md-4">
                <h5>TIPO DE FINANCIAMIENTO: <b>DEUDA</b></h5>
                    <h5><span class="glyphicon glyphicon-usd">                                 </span> Inversión Mínima: <b>$ 50 K</b></h5>
                    <hr>
                    <h5><span class="glyphicon glyphicon-globe"></span> <b>Fondos acumuados</b></h5>
                    <div class="progress">
                                        <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width:45%;">45%</div>
                                 </div>
                    <h5><span class="glyphicon glyphicon-stats"></span>  TIR Proyectada <b>12% - 16%</b></h5>
                    <h5><span class="glyphicon glyphicon-calendar"></span> Periodo Estimado <b>3 - a 4 años</b></h5>
                </div>
                   </div>
                            <div class="project-location row">
                                 <hr>
                                <h3>Ubicación</h3>
<p>El proyecto está ubicado sobre la Vía Panamericana, en el kilómetro 43 desde la ciudad de Panamá, a 5 minutos de la salida de la Autopista Arraiján-La Chorrera.</p>
                        </div>
    <!-- project resume FINISHES -->
            
            <div class="property-info row">
<h3>Inversion</h3>
<p>El TIR proyectado del proyecto es de 12 - 16% con periodo de tenencia de 3 a 4 años.</p>
          <hr></div>
                 <div class="col-md-12 pp-estrategia-proyecto">
    <h2>Estrategia del Proyecto</h2>
 <div class="col-md3">
     Se espera liquidar la inversión después de aproximadamente tres años de operación (Q4 2021), al vender la propiedad completa.
    </div>
 <div class="col-md-3">
Precio de Venta estimado $9.5 millones a un Cap Rate de aproximadamente 7.8%. </div>
 <div class="col-md-3">
Grupo inmobiliario Vivir espera vender la propiedad en marzo del 2020.</div>  
                         <div class="col-md-3">
El proyecto se encuentra en la etapa final de construcción la cual será financiada por
medio de esta ronda de inversión.</div>  

    <div class="project-finance col-md-12">
        <hr>
                            <h2>Finanzas</h2>
                  <img class="img-responsive hidden-xs" src="{{ asset('bundles/app/images/proyectos/western-logistic/wlc-finanzas.png') }}" />
        <img class="img-responsive visible-xs" src="{{ asset('bundles/app/images/proyectos/western-logistic/wlc-finanzas-mobile1.png') }}" />
        <img class="img-responsive visible-xs" src="{{ asset('bundles/app/images/proyectos/western-logistic/wlc-finanzas-mobile2.png') }}" />
                        <ul>
                            </div>
    </div>
                <hr />
                
                <div class="col-md-12 pp-estrategia-proyecto">
  <div class="col-md-4">
     <h4>Costo del Proyecto</h4>
     <p>$4,550 000 65% “Banco” </p>
     <p>$1,000 000.00  14%  “Inversionista”</p>
     <p>$1,470 000.00  21%   “Western Logistic Center”</p>
    </div>
        
 <div class="col-md-offset-4 col-md-4">
 <h4>Precio de Venta del Proyecto</h4>
     <p>$5,369 000 “Banco”    52% </p>
     <p>$1,160 000.00 “Inversionista” 11 % </p>
     <p>$1,705 200.00 “WCL”  17% </p>
     <p>$2,007 000.00 “Ganancia Proyecto” 20%</p>
</div>
                   
                </div>
                    <div class="project-risks">
                            <h3>Riesgos y Mitigaciones</h3>
                       <ul>
                        <li><b>Cambio de las condiciones del Mercado</b>
                           <p>El plan es poder abastecer el área oeste del país, el cual en su estado actual no tiene la estructura logística para suplir la región. De acuerdo a nuestros cálculos, si el crecimiento del oeste del país tiene una desaceleración no nos vemos afectados con nuestras operaciones.                             </p>
                           </li>
                           <li><b>Atrasos en el Desarrollo</b>
                           <p>Creemos que el riesgo de desarrollo es mínimo dado el alcance de la construcción.</p></li>
                           <li><b>Operación</b> 
                               <p>Hemos estructurado el proyecto bajo supuestos conservadores; en caso de que haya desaceleraciones en las condiciones del mercado, seamos capaces de cubrir los costos de la operación y servicio de deuda.</p></li>
                        </ul>
                        </div>
                     <div class="project-fotos">
                        <h3>Imagenes de la Propiedad</h3>
                             
                             <div id="carousel-wlc-project" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-wlc-project" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-wlc-project" data-slide-to="1"></li>
    <li data-target="#carousel-wlc-project" data-slide-to="2"></li>
    <li data-target="#carousel-wlc-project" data-slide-to="3"></li>
    <li data-target="#carousel-wlc-project" data-slide-to="4"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <img src="{{ asset('bundles/app/images/proyectos/western-logistic/wlc1.png') }}" alt="Foto 1">
      <div class="carousel-caption">
      </div>
    </div>
    <div class="item">
      <img src="{{ asset('bundles/app/images/proyectos/western-logistic/wlc2.png') }}" alt="Foto 2">
      <div class="carousel-caption">
      </div>
    </div>
      <div class="item">
      <img src="{{ asset('bundles/app/images/proyectos/western-logistic/wlc3.png') }}" alt="Foto 3">
      <div class="carousel-caption">
      </div>
    </div>
      <div class="item">
      <img src="{{ asset('bundles/app/images/proyectos/western-logistic/wlc3.png') }}" alt="Foto 3">
      <div class="carousel-caption">
      </div>
    </div>
   
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-wlc-project" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Anterior</span>
  </a>
  <a class="right carousel-control" href="#carousel-wlc-project" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Siguiente</span>
  </a>
</div>
                             
                        </div>
                        
                         <div class="project-planes">
                             <hr>
                        <h3>Planos de la Propiedad</h3>
                             
                             <div id="carousel-wlc-planos" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-wlc-planos" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-wlc-planos" data-slide-to="1"></li>
    <li data-target="#carousel-wlc-planos" data-slide-to="2"></li>
    <li data-target="#carousel-wlc-planos" data-slide-to="3"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <img src="{{ asset('bundles/app/images/proyectos/western-logistic/wlcplanos1.jpg') }}" alt="Plano 1">
      </div>
    <div class="item">
      <img src="{{ asset('bundles/app/images/proyectos/western-logistic/wlcplanos2.jpg') }}" alt="Plano 2">
       </div>
    <div class="item">
      <img src="{{ asset('bundles/app/images/proyectos/western-logistic/wlcplanos3.jpg') }}" alt="Plano 2">
       </div>
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-santamaria-project" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Anterior</span>
  </a>
  <a class="right carousel-control" href="#carousel-santamaria-project" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Siguiente</span>
  </a>
</div>
                        </div>             
                    
                    
                  
          
                    
            
                <hr />

      
                <div class="project-map">
                                <h3>Mapa</h3>
<p>El proyecto está ubicado sobre la Vía Panamericana, en el kilómetro 43 desde la ciudad de Panamá, a 5 minutos de la salida de la Autopista Arraiján-La Chorrera. 
</p>
                    
       <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d31539.128407834003!2d-79.82796778973804!3d8.843135482890643!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e53d7f96c137f73%3A0x3e0472a1930ba401!2sCarr.+Panamericana%2C+Arraij%C3%A1n%2C+Panam%C3%A1!5e0!3m2!1ses-419!2spa!4v1481018215047" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                    <hr>
                        </div>
                
                <div class="project-confidential row">
                                <h3><i class="glyphicon glyphicon-lock"></i> Documentos Confidenciales y Chat Room</h3>
                    
                    
                    <div class="col-md-4"><p>Luego de verificar su perfil de usuario, INVIERTE PTY le permitirá ver documentos privados y conversar con otros inversionistas que participan en el proyecto.</p></div>
                    <div class="col-md-4">
                        <div class="col-md-12 confidential-access">
                            <center><img src="{{ asset('bundles/app/images/documentos-confidenciales-invierte-pty.jpg') }}" alt="Documentos confidenciales y Chat Room" class="img-responsive"></center>
                        <center><a href="{{ path('signup') }}" class="btn btn-default">ACCESO</a><br /></center>
                            
                        </div>
                    
                    </div>
                    <div class="col-md-4">
                        <div class="col-md-12 confidential-access">
                            <center><img src="{{ asset('bundles/app/images/chat-room-invierte-pty.jpg') }}" alt="Documentos confidenciales y Chat Room" class="img-responsive"></center>
                        <center><a href="{{ path('signup') }}" class="btn btn-default">IR A CHATROOM</a><br /></center>
                            
                        </div>
                    
                    </div>


                        </div>
                    
                    `<div class="row">
                <div class="col-md-offset-2 col-md-8">
               <center>
               <a href="{{ path('signup') }}" class="btn btn-lg btn-success"><span class="glyphicon glyphicon-usd"></span> Invertir en Proyecto</a>
                    <a class="btn btn-lg btn-danger"><span class="glyphicon glyphicon-heart"></span> Agregar a Favoritos</a>
                    </center>
                </div>
                </div>
            </div>


        </div>
    </div>


{% endblock %}