{% set active = 'home' %}
{% extends 'AppBundle::base.html.twig' %}
{% block stylesheets %}
    <link href="{{ asset('bundles/app/css/owl.carousel.css') }}" rel="stylesheet">
    <link href="{{ asset('bundles/app/css/owl.theme.css') }}" rel="stylesheet">
    <link href="{{ asset('bundles/app/css/owl.transitions.css') }}" rel="stylesheet">
    <link href="{{ asset('bundles/app/css/cs-select.css') }}" rel="stylesheet">
    <link href="{{ asset('bundles/app/css/bootstrap-datepicker3.min.css') }}" rel="stylesheet">
    <link href="{{ asset('bundles/app/css/freepik.hotels.css') }}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Muli:400,600,700,800,900" rel="stylesheet">
{% endblock %}
{% block body %}
	{% if authenticated == false %}
		<div id="mega-slider" class="carousel slide " data-ride="carousel">
			<!-- Indicators -->
			<ol class="carousel-indicators">
				<li data-target="#mega-slider" data-slide-to="0" class="active"></li>
				<li data-target="#mega-slider" data-slide-to="1"></li>
				<li data-target="#mega-slider" data-slide-to="2"></li>
			</ol>

			<!-- Wrapper for slides -->
			<div class="carousel-inner" role="listbox">
				<div class="item beactive">
					<img src="{{ asset('bundles/app/images/slide-ciudad-panama2.png') }}" alt="...">
					<div class="carousel-caption">
						  
						<h2>Invierte en proyectos inmobiliarios</h2>
						<p>Ahora es accesible invertir en proyectos inmobiliarios.</p>
					</div>
				</div>
			<!-- HIDE SLIDES	<div class="item">
					<img src="{{ asset('bundles/app/images/slide-2.png') }}" alt="...">
					<div class="carousel-caption">
						<img src="{{ asset('bundles/app/images/stars.png') }}" alt="">
						<h2>Support for equity and debt transactions</h2>
						<p>Manage private transactions efficiently and provide dynamic reporting and visibility to key stakeholders.</p>
					</div>
				</div>
				<div class="item">
					<img src="{{ asset('bundles/app/images/slide-3.png') }}" alt="...">
					<div class="carousel-caption">
						<img src="{{ asset('bundles/app/images/stars.png') }}" alt="">
						<h2>From origination & on boarding, to deal room and closing</h2>
						<p>Support for the full securities transaction lifecycle.</p>
					</div>
				</div> -->
			</div>

			<!-- Controls -->
			<a class="left carousel-control" href="#mega-slider" role="button" data-slide="prev">
			</a>
			<a class="right carousel-control" href="#mega-slider" role="button" data-slide="next">
			</a>
		</div>

		<!-- HIDE SIGNUP <div class="mg-book-now">
			<div class="container">
				<div class="row">
					<div class="col-md-3">
						<h2 class="mg-bn-title">SIGN UP <span class="mg-bn-big">TO ACCESS ALL PAGES</span></h2>
					</div>
					<div class="col-md-9">
						<div class="mg-bn-forms">
							<form role="form" id="form_sign_up" action="{{ path('process_sign_up') }}" method="POST">
								<div class="row">
									<div class="col-md-4 col-sm-6 col-xs-6">
										<div class="input-group ">
											<div class="input-group-addon"><i class="fa fa-envelope"></i></div>
											{{ form_widget(signup_form.email, {'attr': {'class': 'form-control','placeholder':'Email address', 'id': 'emailAddress' }}) }}
										</div>
									</div>
									<div class="col-md-4 col-sm-6 col-xs-6">
										<div class="input-group">
											<div class="input-group-addon"><i class="fa fa-key"></i></div>
											{{ form_widget(signup_form.password, {'attr': {'class': 'form-control','placeholder':'Password', 'id': 'password' }}) }}											
										</div>
									</div>
									<div class="col-md-4">
										{{ form_widget(signup_form.submit, {'attr': {'class': 'btn btn-main btn-block'}, 'label': 'Sign Up'} ) }}
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>

	{% else %} 
	
		<div class="mg-page-title parallax">
			<div class="container">
				<div class="row">
					<div class="col-md-4">
						<h2>WELCOME BACK</h2>	
						<h4 style="color:white">{% if self.fullName != ' ' %}{{ self.fullName }}{% else %}<a href="{{path('complete_registration')}}">Please complete the registration process</a>{% endif %}</h4>		
					</div>
                    <div class="col-md-8" style="color:black">
                        <div class="row">
                            <div class="col-md-4 col-sm-4 col-xs-4">
                                <div class="well relative">
                                    <a href="{{ path('my_wallet') }}" class="well-link"></a>
                                    <h3><i class="fa fa-dollar"> {{ 5000|number_format }}</i></h3>
                                    <div>Wallet Balance</div>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-4 col-xs-4">
                                <div class="well relative">
                                    <a href="{{ path('my_investments') }}" class="well-link"></a>
                                    <h3><i class="fa fa-line-chart"> 3</i></h3>
                                    <div>Investments</div>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-4 col-xs-4">
                                <div class="well relative">
                                    <a href="{{ path('my_investments') }}" class="well-link"></a>
                                    <h3><i class="fa fa-dollar"> {{ dividends_received|number_format }}</i></h3>
                                    <div>Dividends Received</div>
                                </div>
                            </div>
                        </div>
                    </div>
				</div>
			</div>
		</div>	
	
	{% endif %}

	<div class="mg-best-rooms">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="mg-sec-title">
						<h2>Featured Offerings</h2>
					</div>
					<div class="row">
						{% for offering in featured_offerings %}
							<div class="col-sm-4">
								<figure class="mg-room">
									<img src="{{ asset('bundles/app/images/room-1.png') }}" alt="" class="img-responsive">
									<figcaption>
										<h2>{{ offering.name }}</h2>
										<div class="mg-room-rating">Opens in {{ offering.openDate|days_left }} days</div>
										<div class="mg-room-price">${{ offering.fundingGoal|number_format }}</div>
										<p>{{ offering.offeringDescription }}</p>
										<a href="{{ path('offerings_overview', {'offering_id': offering.id} ) }}" class="btn btn-link">View Details <i class="fa fa-angle-double-right"></i></a>
									</figcaption>
								</figure>
							</div>
						{% endfor %}
					</div>
				</div>
			</div>
		</div>
	</div>-->

	<!-- <div class="container">
        <div class="row">
            <div class="col-md-12">
                <hr>
            </div>
        </div>
    </div> -->


    <div class="mg-projectbox parallax">
		<div class="container">
			<div class="row">
                <div><h1 class="text-center">Proyecto más Reciente</h1></div>
                <div class="project-resume row">
                <div class="col-md-12"> <h3>Wester Logistic Center</h3></div>
				<div class="col-md-7">
					
                        
                    
                    <center><img class="img-responsive" style="width:100%" src="{{asset('bundles/app/images/proyectos/western-logistic/wlc1.png') }}" alt="Wester Logistic Center"></center>
				</div>
				<div class="col-md-5">
					
                    <div class="projectview-box"><!-- Project view box STARTS -->
                        
                        <div class="disponibilidad projectbox-data"><p><span style="color:green" class="glyphicon glyphicon-ok"></span> Oferta Disponible</p></div>
                    <div class="projectbox-data"><p><span class="glyphicon glyphicon-usd">                                 </span> Inversión Mínima $15K</p>
                        </div>
                        
                            <div class="projectbox-data">
                                <p><span class="glyphicon glyphicon-calendar"></span> Tiempo de Tenencia Aprox. 3-4                                 años</p>
                            </div>
                            <div class="projectbox-data">
                                <p><span class="glyphicon glyphicon-stats"></span> TIR proyectado 12-16%                                    </p>
                            </div>
                         
    <div class="projectbox-data">
                       <div class="row">
  <div class="col-md-12"><p><span class="glyphicon glyphicon-globe"></span> Estatus de la oferta</p></div>
                            <div class="col-md-1"><p>$0 </p></div>
                            <div class="col-md-8">
                                <div class="progress">
                                        <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width:45%;">45%
                                         </div>
                                 </div>
                                </div>
                                <div class="col-md-2">$8.708M</div>    
                            </div> 
                            </div><!-- ends projectview-box row -->
                            </div><!-- ends offset-1 col-md-6 column -->
                        <div>
                           <a  href="{{ path('western-logistic-center') }}" class="btn btn-block btn-primary"> 
                               <span class="glyphicon glyphicon-open"></span> Ver Proyecto</a>                                   </div>
                     </div>          
				</div>
                
			</div>
		</div>
            
	</div>

	

	<!-- HIDES TILL FOOTER <div class="mg-features platform-features">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="mg-sec-title">
						<h2>Platform features</h2>
						<p>Robust tools to support full transaction workflows</p>
					</div>
					<div class="row">
						<div class="col-sm-4">
							<div class="mg-feature">
								<div class="mg-feature-icon-title">
									<i class="fp-ht-receptionist"></i>
									<h3 style="margin-top: 6px">Powerful Compliance tools</h3>
								</div>
								<p>Deploy sophisticated compliance processes with state of the art data sources at your teams disposal.</p>
							</div>
						</div>
						<div class="col-sm-4">
							<div class="mg-feature">
								<div class="mg-feature-icon-title">
									<i class="fa fa-cogs"></i>
									<h3>Fully Configurable</h3>
								</div>
								<p>Serve your clients with your bespoke workflows and processes tailored to their needs.</p>
							</div>
						</div>
						<div class="col-sm-4">
							<div class="mg-feature">
								<div class="mg-feature-icon-title">
									<i class="fa fa-external-link"></i>
									<h3>Scalable and Modular</h3>
								</div>
								<p>Expand your service and tap more functionality in the digital back office.</p>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-4">
							<div class="mg-feature">
								<div class="mg-feature-icon-title">
									<i class="fa fa-envelope-o "></i>
									<h3>Investor Communication</h3>
								</div>
								<p>Provide your investors unrivaled dynamic information, reporting and dashboards 24/7.</p>
							</div>
						</div>
						<div class="col-sm-4">
							<div class="mg-feature">
								<div class="mg-feature-icon-title">
									<i class="fa fa-database"></i>
									<h3>Robust Data Rooms</h3>
								</div>
								<p>Efficient work flows with rigorous access rights controls streamline closing deals.</p>
							</div>
						</div>
						<div class="col-sm-4">
							<div class="mg-feature">
								<div class="mg-feature-icon-title">
									<i class="fa fa-lock"></i>
									<h3>Secure and Compliant</h3>
								</div>
								<p>State of the art security, modular infrastructure design and continuous investments in R&D.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="mg-testi-partners parallax">
		<div class="container">
			<div class="row">
				<div class="col-md-6">
					<h2 class="mg-sec-left-title">Testimonial</h2>
					<div class="mg-testimonial-slider" id="mg-testimonial-slider">
						<blockquote>
							<p>Crowd Valley helped us navigate these complexities to develop a strong final product that will serve investors across private, public, and philanthropic sectors.</p>
							<footer>Andrew Stern, CEO Convergence</footer>
						</blockquote>
						{#<blockquote>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sol magnum gustare pararetur statuam, morbi patriam omittantur.</p>
							<footer>John Doe, Example Inc</footer>
						</blockquote>
						<blockquote>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Stabilem monet, petat excepturi nudus expeteremus fabellas vexetur.</p>
							<footer>John Doe, Example Inc</footer>
						</blockquote>#}
					</div>
				</div>
				<div class="col-md-6">
					<h2 class="mg-sec-left-title">Our Partners</h2>
					<ul class="mg-part-logos" id="mg-part-logos">
						<li><img src="{{ asset('bundles/app/images/partners/gcen-logo.png') }}" alt="gcen"></li>
						<li><img src="{{ asset('bundles/app/images/partners/xignite-logo.png') }}" alt="xignite"></li>
						<li><img src="{{ asset('bundles/app/images/partners/fundamerica-logo.png') }}" alt="fundamerica"></li>
						<li><img src="{{ asset('bundles/app/images/partners/contego-logo.png') }}" alt="contego"></li>
					</ul>
				</div>
			</div>
		</div>
	</div>

	<div class="mg-news-gallery">
		<div class="container">
			<div class="row">
				<div class="col-md-5">
					<h2 class="mg-sec-left-title">Recent Front-End Templates</h2>
					<ul class="mg-recnt-posts">
						<li>
							<div class="mg-recnt-post">
								<h3><a href="http://fundingthemeshub.com/themes/sanfrancisco/index.html" target="_blank">San Francisco</a></h3>
								<p>Responsive Equity Offerings Template</p>
							</div>
						</li>
						<li>
							<div class="mg-recnt-post">
								<h3><a href="http://fundingthemeshub.com/themes/newyork/index.html" target="_blank">New York</a></h3>
								<p>Responsive Equity Offerings Template</p>
							</div>
						</li>
						<li>
							<div class="mg-recnt-post">
								<h3><a href="http://fundingthemeshub.com/themes/fortworth/index.html" target="_blank">Fort Worth</a></h3>
								<p>Responsive Real Estate Template</p>
							</div>
						</li>
					</ul>
				</div>
				<div class="col-md-7">
					<h2 class="mg-sec-left-title">Gallery</h2>

					<div class="mg-gallery-container">
						<ul class="mg-gallery" id="mg-gallery">
							<li><img src="{{ asset('bundles/app/images/templates/sanfrancisco.png') }}" alt="San Francisco"></li>
							<li><img src="{{ asset('bundles/app/images/templates/newyork.png') }}" alt="New York"></li>
							<li><img src="{{ asset('bundles/app/images/templates/fortworth.png') }}" alt="Fort Worth"></li>
						</ul>
						<ul class="mg-gallery-thumb" id="mg-gallery-thumb">
							<li><img src="{{ asset('bundles/app/images/templates/sanfrancisco-thumb.png') }}" alt="San Francisco"></li>
							<li><img src="{{ asset('bundles/app/images/templates/newyork-thumb.png') }}" alt="New York"></li>
							<li><img src="{{ asset('bundles/app/images/templates/fortworth-thumb.png') }}" alt="Fort Worth"></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div> -->

<div class="mg-about-features">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="text-center">Invierte en 4 sencillos pasos</h1>
                    <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Factorum difficile adversantur, vexetur legatis virtus ponendam. Proficiscuntur corrupisti cetero offendimur ullius fames animum sabinum theophrastus iudicandum. Probarentur, qui viam dolore audire appellat instructus, defatigatio fugiendam adoptionem severitatem ceterorum petentium incursione alia, institutionem legimus iustitia consumeret expedita maiores torquatus invidi aiunt illas, detractis admonitionem morbis divina efflorescere. Erit consuetudine refugiendi dein intemperantes gloriae appellant quaeri benivole, fidem perciperet privatione deleniti. Patriam. Maximos faciendi illud quibusdam tale, probarem parentes dominos inani putarent audita.</p> -->

                    <hr />
                </div>
                <div class="col-sm-3">
                    <div class="mg-feature text-center">
                        <div class="mg-feature-icon-title">
                           <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" width="100px" height="100px" viewBox="0 0 27.021 27.022" style="enable-background:new 0 0 27.021 27.022;" xml:space="preserve">
<g>
	<g>
		<path d="M17.855,21.223c0-1.902,1.049-3.55,2.588-4.44c-0.963-0.308-2-0.552-3.09-0.722c2.342-1.299,3.929-3.794,3.929-6.663    c0-4.207-3.41-7.617-7.617-7.617s-7.617,3.41-7.617,7.617c0,2.868,1.587,5.364,3.929,6.663C4.223,16.958,0,19.897,0,23.389h18.35    C18.041,22.727,17.855,22,17.855,21.223z" fill="#233566"/>
	</g>
	<path d="M23.004,17.206c-2.218,0-4.018,1.797-4.018,4.018c0,2.219,1.8,4.017,4.018,4.017c2.219,0,4.018-1.798,4.018-4.017   C27.02,19.002,25.223,17.206,23.004,17.206z M25.627,21.936h-1.909v1.91h-1.427v-1.91h-1.91v-1.429h1.91v-1.911h1.427v1.911h1.909   V21.936z" fill="#233566"/>
</g>

</svg>
                            <h3>1. Crea tu perfil</h3>
                        </div>
                        <p>Regístrate y accede a las mejores oportunidades de inversión.</p>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="mg-feature text-center">
                        <div class="mg-feature-icon-title">
                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" width="100px" height="100px" viewBox="0 0 27.863 27.863" style="enable-background:new 0 0 27.863 27.863;" xml:space="preserve">
<g>
	<g>
		<path d="M27.597,25.842c0.039-0.535-0.137-1.085-0.547-1.495l-4.506-4.506c-0.398-0.399-0.93-0.578-1.451-0.552l-1.762-1.76    c3.352-4.248,3.076-10.442-0.844-14.362c-4.223-4.225-11.097-4.224-15.32,0c-4.223,4.223-4.224,11.097,0,15.322    c3.919,3.918,10.115,4.194,14.361,0.842l1.76,1.762c-0.025,0.521,0.152,1.053,0.553,1.451l4.506,4.507    c0.41,0.409,0.959,0.586,1.494,0.546c0.502,0.377,1.203,0.359,1.658-0.097C27.957,27.046,27.974,26.342,27.597,25.842z     M16.687,16.686c-3.23,3.229-8.485,3.229-11.716,0c-3.23-3.23-3.23-8.487,0-11.717s8.485-3.23,11.716,0    C19.917,8.199,19.916,13.456,16.687,16.686z" fill="#233566"/>
		<path d="M7.882,10.362v4.492h5.684v-4.492L10.724,7.98L7.882,10.362z M10.426,13.477H9.259V12.31h1.167V13.477z M10.426,11.715    H9.259v-1.167h1.167V11.715z M11.021,10.549h1.167v1.167h-1.167V10.549z M11.021,12.31h1.167v1.167h-1.167V12.31z" fill="#233566"/>
		<path d="M11.106,5.737c-0.222-0.186-0.545-0.186-0.767,0L6.079,9.311C5.827,9.522,5.793,9.898,6.005,10.15    c0.118,0.141,0.287,0.213,0.457,0.213c0.135,0,0.271-0.045,0.382-0.139l3.88-3.252l3.879,3.252    c0.253,0.212,0.629,0.178,0.84-0.074c0.211-0.252,0.178-0.628-0.074-0.839L11.106,5.737z" fill="#233566"/>
	</g>
</g>
</svg>
                            <h3>2. Descubre nuestros proyectos</h3>
                        </div>
                        <p>Conviértete en un inversionista de bienes y raíces de enfoque institucional.</p>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="mg-feature text-center">
                        <div class="mg-feature-icon-title">
                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" width="100px" height="100px" viewBox="0 0 450.188 450.189" style="enable-background:new 0 0 450.188 450.189;" xml:space="preserve">
<g>
	<g>
		<path d="M225.095,450.189c119.298,0,216.369-97.07,216.369-216.363c0-115.27-90.11-210.185-205.12-216.083    c-0.413-0.021-0.812,0.108-1.233,0.189L218.761,1.581c-0.462-0.462-0.997-0.791-1.569-1.053c-0.166-0.077-0.339-0.124-0.51-0.184    c-0.446-0.149-0.903-0.242-1.37-0.273C215.194,0.066,215.087,0,214.969,0H71.665c-2.974,0-5.375,2.41-5.375,5.375v81.684    c-0.188,0.157-0.409,0.239-0.575,0.42c-36.75,40.003-56.989,91.973-56.989,146.334C8.725,353.128,105.789,450.189,225.095,450.189    z M173.475,320.771v-62.074h149.549h36.258v116.249H173.475V320.771z M208.877,208.927c0-33.15,26.969-60.119,60.118-60.119    c20.017,0,37.728,9.869,48.652,24.953v74.185H208.877V208.927z M310.052,108.072h-89.713V18.363l44.852,44.851L310.052,108.072z     M77.041,10.762h132.547v102.686c0,2.969,2.402,5.375,5.375,5.375h102.684v38.715c-12.698-12.037-29.812-19.481-48.652-19.481    c-39.081,0-70.869,31.791-70.869,70.87v39.019h-30.032c-2.974,0-5.375,2.41-5.375,5.376v62.074H77.041V10.762z" fill="#233566"/>
		<path d="M268.995,297.479c-10.661,0-19.354,8.677-19.354,19.345c0,5.916,2.709,11.391,7.254,15.023l-1.449,15.844    c-0.125,1.501,0.363,2.991,1.387,4.119c1.019,1.108,2.457,1.748,3.969,1.748h16.368c1.506,0,2.95-0.64,3.963-1.748    c1.013-1.128,1.521-2.607,1.392-4.119l-1.449-15.844c4.54-3.633,7.254-9.107,7.254-15.023    C288.34,306.156,279.647,297.479,268.995,297.479z" fill="#233566"/>
		<path d="M94.983,118.823h99.589c2.974,0,5.375-2.406,5.375-5.375V32.657c0-2.968-2.402-5.375-5.375-5.375H94.983    c-2.971,0-5.375,2.407-5.375,5.375v80.791C89.607,116.417,92.012,118.823,94.983,118.823z" fill="#233566"/>
		<path d="M94.983,145.535h136.348c2.972,0,5.376-2.409,5.376-5.375c0-2.969-2.404-5.375-5.376-5.375H94.983    c-2.971,0-5.375,2.406-5.375,5.375C89.607,143.126,92.012,145.535,94.983,145.535z" fill="#233566"/>
		<path d="M94.983,174.91h88.839c2.973,0,5.375-2.409,5.375-5.375c0-2.968-2.401-5.375-5.375-5.375H94.983    c-2.971,0-5.375,2.407-5.375,5.375C89.607,172.501,92.012,174.91,94.983,174.91z" fill="#233566"/>
		<path d="M94.983,195.75h88.839c2.973,0,5.375-2.409,5.375-5.375c0-2.967-2.401-5.375-5.375-5.375H94.983    c-2.971,0-5.375,2.409-5.375,5.375C89.607,193.342,92.012,195.75,94.983,195.75z" fill="#233566"/>
		<path d="M94.983,216.585h88.839c2.973,0,5.375-2.409,5.375-5.375c0-2.966-2.401-5.375-5.375-5.375H94.983    c-2.971,0-5.375,2.409-5.375,5.375C89.607,214.177,92.012,216.585,94.983,216.585z" fill="#233566"/>
		<path d="M189.197,232.045c0-2.966-2.401-5.376-5.375-5.376H94.983c-2.971,0-5.375,2.41-5.375,5.376s2.405,5.375,5.375,5.375    h88.839C186.795,237.42,189.197,235.027,189.197,232.045z" fill="#233566"/>
	</g>
</g>
</svg>
                            <h3>3. Solicita acceso a documentos</h3>
                        </div>
                        <p> Infórmate sobre documentación legal e información confidencial de los proyectos.</p>
                        <br/>
                        <p> Conversa y analiza con otros inversionistas en el Chat Room.</p>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="mg-feature text-center">
                        <div class="mg-feature-icon-title">
                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px" viewBox="0 0 423.756 423.756" style="enable-background:new 0 0 423.756 423.756;" xml:space="preserve" width="100px" height="100px">
<g>
	<path d="M43.841,281.457c-18.585-44.869-18.586-94.29,0-139.159c15.615-37.697,42.78-68.384,77.674-88.255l0,60.863h30l0-99.853   l-99.853,0v30l29.613,0c-73,57.164-102.324,158.139-65.15,247.885c14.167,34.202,37.07,64.159,66.234,86.634   c28.274,21.789,61.873,36.201,97.162,41.677l4.601-29.646C120.778,381.774,68.338,340.598,43.841,281.457z" fill="#233566"/>
	<path d="M407.517,292.938c21.652-52.272,21.652-109.848,0-162.12c-14.167-34.202-37.07-64.159-66.234-86.633   C313.008,22.395,279.41,7.983,244.121,2.507l-4.601,29.646c63.342,9.829,115.783,51.005,140.28,110.146   c18.586,44.869,18.586,94.29,0,139.159c-15.615,37.697-42.78,68.385-77.674,88.255l0-60.863h-30l0,99.853l99.853,0v-30l-29.482,0   C370.949,356.486,393.327,327.195,407.517,292.938z" fill="#233566"/>
	<path d="M239.874,166.715h30c0-26.824-18.291-49.448-43.053-56.078V98.058h-30v12.579c-24.762,6.63-43.053,29.253-43.053,56.078   c0,27.442,14.402,47.104,40.552,55.365l2.501,0.79v57.858c-7.838-4.981-13.053-13.734-13.053-23.688h-30   c0,26.824,18.291,49.448,43.053,56.078v12.579h30v-12.579c24.762-6.63,43.053-29.253,43.053-56.078   c0-27.442-14.402-47.104-40.552-55.365l-2.501-0.79v-57.858C234.658,148.008,239.874,156.761,239.874,166.715z M196.82,190.811   c-9.068-4.708-13.053-12.223-13.053-24.096c0-9.954,5.216-18.708,13.053-23.688V190.811z M239.874,257.04   c0,9.954-5.216,18.708-13.053,23.688v-47.784C235.889,237.653,239.874,245.168,239.874,257.04z" fill="#233566"/>
</g>
</svg>
                            <h3>4. Contribuye con el Proyecto</h3>
                        </div>
                        <p>Comprométete y al lograr el 100% del financiamiento comienza a disfrutar los
retornos de tu inversión.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

 <div class="mg-success-features">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                       <center>                   
                           <h1 class="text-center">¿Cuál es el éxito de Invierte PTY?</h1>
                    </center>
                    <div class="col-sm-3 p-top-success">
                    <center><h3>Reputación</h3>
                        <p>Invierte Pty es una plataforma que combina un equipo de trabajo con gran experiencia en estructuración de proyectos de bienes raíces. </p></center>
                    </div>
                    <div class="col-sm-6">
                
                    <center>
                        <svg class="img-responsive" version="1.1" xmlns="http://www.w3.org/2000/svg"                                                       xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="592px"
	                    height="481px" viewBox="0 0 592 481" enable-background="new 0 0 592 481"                                   xml:space="preserve"><g id="Layer_1"><rect x="181.893" y="155.707" fill="#222165" width="4.183" height="41.858"/><g><defs><rect id="SVGID_1_" x="76" y="21.591" width="437" height="337.683"/></defs><clipPath id="SVGID_2_"><use xlink:href="#SVGID_1_"  overflow="visible"/></clipPath>
		<path clip-path="url(#SVGID_2_)" fill="#222165" d="M196.011,168.605h3.984v5.549c1.594-2.125,3.357-3.713,5.292-4.766
			s4.041-1.58,6.317-1.58c2.315,0,4.368,0.589,6.161,1.764c1.792,1.176,3.116,2.761,3.969,4.753c0.854,1.991,1.28,5.093,1.28,9.305
			v15.936h-3.983v-14.77c0-3.566-0.146-5.947-0.443-7.142c-0.462-2.048-1.347-3.59-2.656-4.624c-1.309-1.034-3.016-1.55-5.122-1.55
			c-2.411,0-4.57,0.796-6.476,2.39c-1.907,1.593-3.164,3.566-3.771,5.919c-0.379,1.535-0.569,4.344-0.569,8.422v11.354h-3.984
			V168.605z"/>
		<polygon clip-path="url(#SVGID_2_)" fill="#222165" points="228.621,168.605 232.86,168.605 243.251,191.173 253.52,168.605 
			257.788,168.605 243.617,199.565 242.877,199.565 		"/>
		<path clip-path="url(#SVGID_2_)" fill="#222165" d="M265.229,155.857c0.906,0,1.681,0.322,2.324,0.967
			c0.64,0.645,0.963,1.422,0.963,2.333c0,0.891-0.323,1.66-0.963,2.305c-0.643,0.646-1.418,0.967-2.324,0.967
			c-0.887,0-1.653-0.322-2.295-0.967c-0.643-0.645-0.963-1.414-0.963-2.305c0-0.911,0.32-1.688,0.963-2.333
			C263.576,156.18,264.342,155.857,265.229,155.857 M263.251,168.604h3.984v30.96h-3.984V168.604z"/>
		<path clip-path="url(#SVGID_2_)" fill="#222165" d="M301.58,189.292l3.358,1.765c-1.101,2.163-2.373,3.907-3.818,5.235
			c-1.441,1.328-3.065,2.338-4.868,3.031c-1.805,0.691-3.846,1.038-6.125,1.038c-5.05,0-8.999-1.655-11.847-4.966
			c-2.848-3.31-4.273-7.052-4.273-11.225c0-3.928,1.205-7.428,3.616-10.5c3.057-3.908,7.15-5.862,12.276-5.862
			c5.278,0,9.495,2.001,12.646,6.005c2.241,2.826,3.379,6.354,3.418,10.584h-27.858c0.076,3.595,1.225,6.546,3.447,8.843
			c2.222,2.301,4.965,3.451,8.233,3.451c1.578,0,3.109-0.275,4.601-0.823c1.492-0.548,2.761-1.276,3.804-2.182
			C299.234,192.778,300.364,191.315,301.58,189.292 M301.58,180.955c-0.531-2.125-1.307-3.823-2.321-5.093
			c-1.017-1.272-2.362-2.295-4.03-3.073c-1.672-0.778-3.43-1.167-5.272-1.167c-3.04,0-5.65,0.977-7.835,2.931
			c-1.595,1.423-2.803,3.557-3.618,6.403H301.58z"/>
		<path clip-path="url(#SVGID_2_)" fill="#222165" d="M311.881,168.605h4.069v4.524c1.214-1.783,2.495-3.115,3.842-3.998
			c1.347-0.883,2.751-1.324,4.211-1.324c1.101,0,2.277,0.352,3.528,1.053l-2.076,3.357c-0.835-0.36-1.537-0.541-2.105-0.541
			c-1.328,0-2.608,0.545-3.842,1.636s-2.173,2.784-2.817,5.08c-0.493,1.764-0.74,5.33-0.74,10.698v10.473h-4.069V168.605z"/>
		<polygon clip-path="url(#SVGID_2_)" fill="#222165" points="334.39,157.109 338.373,157.109 338.373,168.605 344.689,168.605 
			344.689,172.048 338.373,172.048 338.373,199.565 334.39,199.565 334.39,172.048 328.955,172.048 328.955,168.605 334.39,168.605 
					"/>
		<path clip-path="url(#SVGID_2_)" fill="#222165" d="M376.729,189.292l3.357,1.765c-1.101,2.163-2.372,3.907-3.813,5.235
			c-1.441,1.328-3.067,2.338-4.871,3.031c-1.806,0.691-3.845,1.038-6.122,1.038c-5.056,0-9.002-1.655-11.847-4.966
			c-2.851-3.31-4.275-7.052-4.275-11.225c0-3.928,1.202-7.428,3.616-10.5c3.058-3.908,7.146-5.862,12.278-5.862
			c5.273,0,9.494,2.001,12.644,6.005c2.238,2.826,3.377,6.354,3.415,10.584h-27.857c0.075,3.595,1.229,6.546,3.452,8.843
			c2.218,2.301,4.961,3.451,8.232,3.451c1.574,0,3.107-0.275,4.601-0.823c1.489-0.548,2.761-1.276,3.804-2.182
			C374.387,192.778,375.515,191.315,376.729,189.292 M376.729,180.955c-0.531-2.125-1.305-3.823-2.319-5.093
			c-1.02-1.272-2.362-2.295-4.031-3.073c-1.674-0.778-3.429-1.167-5.27-1.167c-3.045,0-5.652,0.977-7.835,2.931
			c-1.598,1.423-2.807,3.557-3.622,6.403H376.729z"/>
		<path clip-path="url(#SVGID_2_)" fill="#009EE2" d="M420.133,177.215c0,7.933-5.074,12.552-13.908,12.552h-8.085v10.595h-5.928
			v-35.148h14.013C415.059,165.213,420.133,169.582,420.133,177.215 M414.459,177.364c0-4.618-3.064-6.828-8.484-6.828h-7.835v13.91
			h7.835C411.395,184.445,414.459,182.135,414.459,177.364"/>
		<polygon clip-path="url(#SVGID_2_)" fill="#009EE2" points="450.023,165.213 450.023,170.536 438.879,170.536 438.879,200.361 
			432.954,200.361 432.954,170.536 421.858,170.536 421.858,165.213 		"/>
		<polygon clip-path="url(#SVGID_2_)" fill="#009EE2" points="471.533,188.662 471.533,200.361 465.658,200.361 465.658,188.862 
			452.55,165.213 458.527,165.213 468.569,182.335 478.41,165.213 484.436,165.213 		"/>
		<polygon clip-path="url(#SVGID_2_)" fill="#009EE2" points="137.617,147.591 117.132,162.327 117.132,210.126 103.115,203.657 
			103.115,155.857 137.617,132.497 171.785,155.857 171.785,203.657 157.822,210.126 157.822,162.327 		"/>
		<polygon clip-path="url(#SVGID_2_)" fill="#0078A8" points="135.461,158.732 122.163,167.358 122.163,198.626 135.461,204.616 		
			"/>
		<polygon clip-path="url(#SVGID_2_)" fill="#0078A8" points="140.133,169.514 140.133,204.616 153.431,198.625 153.431,178.26 		
			"/>
		<polygon clip-path="url(#SVGID_2_)" fill="#222165" points="122.163,198.625 117.131,199.884 117.131,210.126 135.461,204.616 		
			"/>
		<polygon clip-path="url(#SVGID_2_)" fill="#222165" points="153.431,198.625 157.822,199.524 157.822,210.126 140.133,204.376 		
			"/>
	</g>
</g>
<g id="Layer_2">
</g>
<g id="Layer_3">
</g>
<g id="Layer_4">
	<linearGradient id="SVGID_3_" gradientUnits="userSpaceOnUse" x1="261.5918" y1="178.5" x2="572.0684" y2="178.5">
		<stop  offset="0" style="stop-color:#FFFFFF;stop-opacity:0"/>
		<stop  offset="1" style="stop-color:#FFFFFF"/>
	</linearGradient>
	<path fill="url(#SVGID_3_)" d="M459.333,13h96.157c0,0,18.427,0.141,16.427,18.917L571.333,344H261.592"/>
	<defs>
		<filter id="Adobe_OpacityMaskFilter" filterUnits="userSpaceOnUse" x="157.594" y="443.146" width="278.538" height="24.867">
			<feColorMatrix  type="matrix" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 1 0"/>
		</filter>
	</defs>
	<mask maskUnits="userSpaceOnUse" x="157.594" y="443.146" width="278.538" height="24.867" id="SVGID_4_">
		<g filter="url(#Adobe_OpacityMaskFilter)">
			
				<radialGradient id="SVGID_5_" cx="296.8633" cy="1820.3984" r="139.2515" gradientTransform="matrix(1 0 0 0.0893 0 293.0186)" gradientUnits="userSpaceOnUse">
				<stop  offset="0" style="stop-color:#FFFFFF"/>
				<stop  offset="1" style="stop-color:#14130A"/>
			</radialGradient>
			<path fill="url(#SVGID_5_)" d="M436.132,455.58c0,6.872-62.353,12.434-139.27,12.434c-76.921,0-139.269-5.562-139.269-12.434
				s62.348-12.434,139.269-12.434C373.779,443.146,436.132,448.708,436.132,455.58z"/>
		</g>
	</mask>
	<linearGradient id="SVGID_6_" gradientUnits="userSpaceOnUse" x1="296.8984" y1="467.9844" x2="296.8279" y2="443.3516">
		<stop  offset="0" style="stop-color:#4D4848"/>
		<stop  offset="0.3539" style="stop-color:#14130A"/>
		<stop  offset="1" style="stop-color:#14130A"/>
	</linearGradient>
	<path opacity="0.33" mask="url(#SVGID_4_)" fill="url(#SVGID_6_)" d="M436.132,455.58c0,6.872-62.353,12.434-139.27,12.434
		c-76.921,0-139.269-5.562-139.269-12.434s62.348-12.434,139.269-12.434C373.779,443.146,436.132,448.708,436.132,455.58z"/>
	<g>
		<linearGradient id="SVGID_7_" gradientUnits="userSpaceOnUse" x1="210.9351" y1="453" x2="386.1596" y2="453">
			<stop  offset="0.0061" style="stop-color:#58595B"/>
			<stop  offset="0.2803" style="stop-color:#757679"/>
			<stop  offset="0.5091" style="stop-color:#88898D"/>
			<stop  offset="1" style="stop-color:#58595B"/>
		</linearGradient>
		<path fill="url(#SVGID_7_)" d="M212,450v1.079c0,0.056,0,0.109,0,0.163v0.061c0,3.207,4.487,4.697,18.106,4.697
			c26.357,0,54.904,0,65.352,0c2.643,0,4.128,0,4.128,0c10.448,0,38.995,0,65.352,0c13.619,0,18.379-2,18.423-5H383v-1H212z"/>
		<linearGradient id="SVGID_8_" gradientUnits="userSpaceOnUse" x1="296.6055" y1="387.5" x2="296.6055" y2="464.0475">
			<stop  offset="0.0848" style="stop-color:#6D6F73"/>
			<stop  offset="0.127" style="stop-color:#97999C"/>
			<stop  offset="0.1841" style="stop-color:#CCCDCE"/>
			<stop  offset="0.2121" style="stop-color:#E0E1E2"/>
			<stop  offset="0.3152" style="stop-color:#A7A9AC"/>
			<stop  offset="0.3893" style="stop-color:#868789"/>
			<stop  offset="0.4606" style="stop-color:#636363"/>
			<stop  offset="0.5264" style="stop-color:#6E6F6F"/>
			<stop  offset="0.6452" style="stop-color:#8B8D8F"/>
			<stop  offset="0.7394" style="stop-color:#A6AAAD"/>
		</linearGradient>
		<path fill="url(#SVGID_8_)" d="M365.855,431.525C353.702,419.143,353.243,392,353.243,392h-54.574h-4.127h-54.576
			c0,0-0.458,27.143-12.611,39.525C215.201,443.908,196.17,455,229.189,455c26.357,0,54.904,0,65.353,0c2.642,0,4.127,0,4.127,0
			c10.448,0,38.995,0,65.352,0C397.04,455,378.008,443.908,365.855,431.525z"/>
		<radialGradient id="SVGID_9_" cx="380.3027" cy="484.291" r="64.188" gradientUnits="userSpaceOnUse">
			<stop  offset="0" style="stop-color:#FFFFFF"/>
			<stop  offset="1" style="stop-color:#FFFFFF;stop-opacity:0"/>
		</radialGradient>
		<path fill="url(#SVGID_9_)" d="M307.461,455c6.743-15,28.278-27.029,55.071-29.65c1.228,2.084,2.629,3.972,4.242,5.616
			C378.715,443.13,397.29,454,366.628,455H307.461z"/>
		
			<radialGradient id="SVGID_10_" cx="428.1826" cy="484.291" r="64.1882" gradientTransform="matrix(-1 0 0 1 642.9258 0)" gradientUnits="userSpaceOnUse">
			<stop  offset="0" style="stop-color:#FFFFFF"/>
			<stop  offset="1" style="stop-color:#FFFFFF;stop-opacity:0"/>
		</radialGradient>
		<path fill="url(#SVGID_10_)" d="M287.586,455c-6.743-15-28.28-27.029-55.074-29.65c-1.227,2.084-2.629,3.972-4.241,5.616
			C216.33,443.13,197.754,454,228.417,455H287.586z"/>
		<linearGradient id="SVGID_11_" gradientUnits="userSpaceOnUse" x1="228.417" y1="455.125" x2="364.9375" y2="455.125">
			<stop  offset="0.0061" style="stop-color:#FFFFFF;stop-opacity:0"/>
			<stop  offset="0.5091" style="stop-color:#FFFFFF"/>
			<stop  offset="1" style="stop-color:#FFFFFF;stop-opacity:0"/>
		</linearGradient>
		<path fill="url(#SVGID_11_)" d="M228.417,455.125c11.376-0.189,22.754-0.278,34.131-0.353l34.13-0.105l34.129,0.104l17.066,0.128
			l17.064,0.226l-17.064,0.225l-17.066,0.127l-34.129,0.106l-34.13-0.107C251.171,455.401,239.793,455.313,228.417,455.125z"/>
		<linearGradient id="SVGID_12_" gradientUnits="userSpaceOnUse" x1="8.3252" y1="387.2676" x2="610.5712" y2="347.7911">
			<stop  offset="0" style="stop-color:#78797D"/>
			<stop  offset="0.3173" style="stop-color:#737478"/>
			<stop  offset="0.4909" style="stop-color:#6D6F73"/>
			<stop  offset="1" style="stop-color:#6D6F73"/>
		</linearGradient>
		<path fill="url(#SVGID_12_)" d="M18,376.244C18,385.362,25.85,393,34.969,393h255.903h8.714H555.49
			c9.117,0,16.51-7.638,16.51-16.756V345H18V376.244z"/>
		<path fill="#231F20" d="M555.49,13H299.586h-8.714H34.969C25.85,13,18,19.5,18,28.619V344h554V28.619
			C572,19.5,564.607,13,555.49,13z M549,321H41V35h508V321z"/>
		<linearGradient id="SVGID_13_" gradientUnits="userSpaceOnUse" x1="8.3799" y1="386.2617" x2="610.567" y2="346.7891">
			<stop  offset="0" style="stop-color:#898A8F"/>
			<stop  offset="0.0499" style="stop-color:#909196"/>
			<stop  offset="0.3137" style="stop-color:#B1B2B6"/>
			<stop  offset="0.5663" style="stop-color:#C8CACD"/>
			<stop  offset="0.801" style="stop-color:#D6D8DB"/>
			<stop  offset="1" style="stop-color:#DBDDE0"/>
		</linearGradient>
		<path fill="url(#SVGID_13_)" d="M18,374.409C18,383.527,25.85,392,34.969,392h255.903h8.714H555.49
			c9.117,0,16.51-8.473,16.51-17.591V344H18V374.409z"/>
	</g>
</g>
<g id="Layer_5">
</g>
</svg>
                        </center>
                    </div>
                        
                        
                    <div class="col-sm-3 p-top-success">
                    <center><h3>Confianza</h3>
                    <p>Tecnología innovadora para el financiamiento del futuro. </p></center></div>
                    
                     <div class="col-sm-4">
                    <center><h3>Retornos Atractivos</h3>
                    <p>Retornos de hasta el 18% en tu inversión.</p></center></div>
                    
                    <div class="col-sm-offset-4 col-sm-4">
                    <center><h3>Transparencia</h3>
                    <p>Una plataforma de confianza y segura para el inversionista.</p></center></div>

                   
                </div>
               
            </div>
        </div>
    </div>
<div class="mg-comparsion-features">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="text-center">Ventajas de Invierte PTY</h1>
                    <hr />
                    <div class="col-sm-offset-0 col-md-4 text-center">
                    <h4>INVERSIONISTAS</h4>
                    <ul>
                        <p>Montos de inversión accesibles.</p>
                        <p>Acceso a los proyectos más exclusivos de bienes y raíces en Panamá.</p>
                        </ul>
                    </div>
                    <div class="col-sm-offset-0 col-md-4 text-center">
                     <h4>INMOBILIARIAS</h4>
                    <ul>
                        <p>Capital de financiamiento alternativo.</p>
                        <p>Facilidad de captación de inversionistas.</p>
                        </ul>
                    </div>
                    <div class="col-sm-offset-0 col-md-4 text-center">
                     <h4><b>EXPERIENCIA</b></h4>
                    <ul>
                     <p>Equipo capacitado en la estructuración de financiamiento de proyectos                                  inmobiliarios.</p>
                        </ul>
                    </div>
                   
                </div>
               
            </div>
        </div>
    </div>
<div class="mg-about parallax">
		<div class="container">
			<div class="row">
				<div class="col-md-7">
					<h2 class="mg-sec-left-title"> Invierte PTY</h2>
					<p>"En el 2015, la inversión de crowdfunding para proyectos inmobiliarios alcanzo un monto de $2.5 billones de dólares y se estima un total de $3.5 billones en el 2016"<b> -Massolutions</b></p>
				</div>
				<div class="col-md-5">
					<img src="{{ asset('bundles/app/images/backoffice.png') }}" alt="Crowd Valley"></a>
				</div>
			</div>
		</div>
	</div>
	</div>

{% endblock %}

{% block javascripts %}

    <script type="text/javascript">
        $(function () {
            var requiredLogin = '{{ login_required }}';
            if (requiredLogin == true) {
                // Show login popup
                $('#modal-login').modal('show');
            }
        });
    </script>

{% endblock %}


