{% set active = 'home' %}
{% extends 'AppBundle::base.html.twig' %}
{% block stylesheets %}
    <link href="{{ asset('bundles/app/css/owl.carousel.css') }}" rel="stylesheet">
    <link href="{{ asset('bundles/app/css/owl.theme.css') }}" rel="stylesheet">
    <link href="{{ asset('bundles/app/css/owl.transitions.css') }}" rel="stylesheet">
    <link href="{{ asset('bundles/app/css/cs-select.css') }}" rel="stylesheet">
    <link href="{{ asset('bundles/app/css/bootstrap-datepicker3.min.css') }}" rel="stylesheet">
    <link href="{{ asset('bundles/app/css/freepik.hotels.css') }}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Muli:400,600,700,800,900" rel="stylesheet">
{% endblock %}
{% block body %}
	{% if authenticated == false %}
		<div id="mega-slider" class="carousel slide " data-ride="carousel">
			<!-- Indicators -->
			<ol class="carousel-indicators">
				<li data-target="#mega-slider" data-slide-to="0" class="active"></li>
				<li data-target="#mega-slider" data-slide-to="1"></li>
				<li data-target="#mega-slider" data-slide-to="2"></li>
			</ol>

			<!-- Wrapper for slides -->
			<div class="carousel-inner" role="listbox">
				<div class="item beactive">
					<img src="{{ asset('bundles/app/images/slide-ciudad-panama2.png') }}" alt="...">
					<div class="carousel-caption">
						  
						<h2>Invierte en proyectos inmobiliarios</h2>
						<p>Ahora es accesible invertir en proyectos inmobiliarios.</p>
					</div>
				</div>
			<!-- HIDE SLIDES	<div class="item">
					<img src="{{ asset('bundles/app/images/slide-2.png') }}" alt="...">
					<div class="carousel-caption">
						<img src="{{ asset('bundles/app/images/stars.png') }}" alt="">
						<h2>Support for equity and debt transactions</h2>
						<p>Manage private transactions efficiently and provide dynamic reporting and visibility to key stakeholders.</p>
					</div>
				</div>
				<div class="item">
					<img src="{{ asset('bundles/app/images/slide-3.png') }}" alt="...">
					<div class="carousel-caption">
						<img src="{{ asset('bundles/app/images/stars.png') }}" alt="">
						<h2>From origination & on boarding, to deal room and closing</h2>
						<p>Support for the full securities transaction lifecycle.</p>
					</div>
				</div> -->
			</div>

			<!-- Controls -->
			<a class="left carousel-control" href="#mega-slider" role="button" data-slide="prev">
			</a>
			<a class="right carousel-control" href="#mega-slider" role="button" data-slide="next">
			</a>
		</div>

		<!-- HIDE SIGNUP <div class="mg-book-now">
			<div class="container">
				<div class="row">
					<div class="col-md-3">
						<h2 class="mg-bn-title">SIGN UP <span class="mg-bn-big">TO ACCESS ALL PAGES</span></h2>
					</div>
					<div class="col-md-9">
						<div class="mg-bn-forms">
							<form role="form" id="form_sign_up" action="{{ path('process_sign_up') }}" method="POST">
								<div class="row">
									<div class="col-md-4 col-sm-6 col-xs-6">
										<div class="input-group ">
											<div class="input-group-addon"><i class="fa fa-envelope"></i></div>
											{{ form_widget(signup_form.email, {'attr': {'class': 'form-control','placeholder':'Email address', 'id': 'emailAddress' }}) }}
										</div>
									</div>
									<div class="col-md-4 col-sm-6 col-xs-6">
										<div class="input-group">
											<div class="input-group-addon"><i class="fa fa-key"></i></div>
											{{ form_widget(signup_form.password, {'attr': {'class': 'form-control','placeholder':'Password', 'id': 'password' }}) }}											
										</div>
									</div>
									<div class="col-md-4">
										{{ form_widget(signup_form.submit, {'attr': {'class': 'btn btn-main btn-block'}, 'label': 'Sign Up'} ) }}
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>

	{% else %} 
	
		<div class="mg-page-title parallax">
			<div class="container">
				<div class="row">
					<div class="col-md-4">
						<h2>WELCOME BACK</h2>	
						<h4 style="color:white">{% if self.fullName != ' ' %}{{ self.fullName }}{% else %}<a href="{{path('complete_registration')}}">Please complete the registration process</a>{% endif %}</h4>		
					</div>
                    <div class="col-md-8" style="color:black">
                        <div class="row">
                            <div class="col-md-4 col-sm-4 col-xs-4">
                                <div class="well relative">
                                    <a href="{{ path('my_wallet') }}" class="well-link"></a>
                                    <h3><i class="fa fa-dollar"> {{ 5000|number_format }}</i></h3>
                                    <div>Wallet Balance</div>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-4 col-xs-4">
                                <div class="well relative">
                                    <a href="{{ path('my_investments') }}" class="well-link"></a>
                                    <h3><i class="fa fa-line-chart"> 3</i></h3>
                                    <div>Investments</div>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-4 col-xs-4">
                                <div class="well relative">
                                    <a href="{{ path('my_investments') }}" class="well-link"></a>
                                    <h3><i class="fa fa-dollar"> {{ dividends_received|number_format }}</i></h3>
                                    <div>Dividends Received</div>
                                </div>
                            </div>
                        </div>
                    </div>
				</div>
			</div>
		</div>	
	
	{% endif %}

	<div class="mg-best-rooms">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="mg-sec-title">
						<h2>Featured Offerings</h2>
					</div>
					<div class="row">
						{% for offering in featured_offerings %}
							<div class="col-sm-4">
								<figure class="mg-room">
									<img src="{{ asset('bundles/app/images/room-1.png') }}" alt="" class="img-responsive">
									<figcaption>
										<h2>{{ offering.name }}</h2>
										<div class="mg-room-rating">Opens in {{ offering.openDate|days_left }} days</div>
										<div class="mg-room-price">${{ offering.fundingGoal|number_format }}</div>
										<p>{{ offering.offeringDescription }}</p>
										<a href="{{ path('offerings_overview', {'offering_id': offering.id} ) }}" class="btn btn-link">View Details <i class="fa fa-angle-double-right"></i></a>
									</figcaption>
								</figure>
							</div>
						{% endfor %}
					</div>
				</div>
			</div>
		</div>
	</div>-->

	<!-- <div class="container">
        <div class="row">
            <div class="col-md-12">
                <hr>
            </div>
        </div>
    </div> -->


    <div class="mg-projectbox parallax">
		<div class="container">
			<div class="row">
                <div><h2>Proyecto más Reciente</h2></div>
                <div class="col-md-12"> <h3>Wester Logistic Center</h3></div>
				<div class="col-md-7">
					
                        
                    
                    <center><img class="img-responsive" style="width:100%" src="{{asset('bundles/app/images/proyectos/western-logistic/wlc1.png') }}" alt="Wester Logistic Center"></center>
				</div>
				<div class="col-md-5">
					
                    <div class="projectview-box"><!-- Project view box STARTS -->
                        
                        <div class="disponibilidad projectbox-data"><p><span style="color:green" class="glyphicon glyphicon-ok"></span> OFERTA DISPONIBILE</p></div>
                    <div class="projectbox-data"><p><span class="glyphicon glyphicon-usd">                                 </span> Inversion minima 20K</p>
                        </div>
                        
                            <div class="projectbox-data">
                                <p><span class="glyphicon glyphicon-calendar"></span> Tiempo aprox. 3-4                                   años</p>
                            </div>
                            <div class="projectbox-data">
                                <p><span class="glyphicon glyphicon-stats"></span> TIR proyectada 12-16%                                    </p>
                            </div>
                         
    <div class="projectbox-data">
                       <div class="row">
  <div class="col-md-12"><p><span class="glyphicon glyphicon-globe"></span> Estatus de la oferta</p></div>
                            <div class="col-md-2"><p>0M </p></div>
                            <div class="col-md-8">
                                <div class="progress">
                                        <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width:45%;">45%
                                         </div>
                                 </div>
                                </div>
                                <div class="col-md-1">22M</div>    
                            </div> 
                            </div><!-- ends projectview-box row -->
                            </div><!-- ends offset-1 col-md-6 column -->
                        <div>
                           <a  href="{{ path('western-logistic-center') }}" class="btn btn-block btn-primary"> 
                               <span class="glyphicon glyphicon-open"></span> Ver Proyecto</a>                                   </div>
                     </div>          
				</div>
			</div>
		</div>
            
	</div>

	<div class="mg-about parallax">
		<div class="container">
			<div class="row">
				<div class="col-md-7">
					<h2 class="mg-sec-left-title"> INVIERTE PTY</h2>
					<p>“En el 2015, la inversión en crowdfunding en bienes y raíces alcanzo un monto de $2.5 Billones de dólares y se estima un total de $3.5 billones “</p>
				</div>
				<div class="col-md-5">
					<img src="{{ asset('bundles/app/images/backoffice.png') }}" alt="Crowd Valley"></a>
				</div>
			</div>
		</div>
	</div>

	<!-- HIDES TILL FOOTER <div class="mg-features platform-features">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="mg-sec-title">
						<h2>Platform features</h2>
						<p>Robust tools to support full transaction workflows</p>
					</div>
					<div class="row">
						<div class="col-sm-4">
							<div class="mg-feature">
								<div class="mg-feature-icon-title">
									<i class="fp-ht-receptionist"></i>
									<h3 style="margin-top: 6px">Powerful Compliance tools</h3>
								</div>
								<p>Deploy sophisticated compliance processes with state of the art data sources at your teams disposal.</p>
							</div>
						</div>
						<div class="col-sm-4">
							<div class="mg-feature">
								<div class="mg-feature-icon-title">
									<i class="fa fa-cogs"></i>
									<h3>Fully Configurable</h3>
								</div>
								<p>Serve your clients with your bespoke workflows and processes tailored to their needs.</p>
							</div>
						</div>
						<div class="col-sm-4">
							<div class="mg-feature">
								<div class="mg-feature-icon-title">
									<i class="fa fa-external-link"></i>
									<h3>Scalable and Modular</h3>
								</div>
								<p>Expand your service and tap more functionality in the digital back office.</p>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-4">
							<div class="mg-feature">
								<div class="mg-feature-icon-title">
									<i class="fa fa-envelope-o "></i>
									<h3>Investor Communication</h3>
								</div>
								<p>Provide your investors unrivaled dynamic information, reporting and dashboards 24/7.</p>
							</div>
						</div>
						<div class="col-sm-4">
							<div class="mg-feature">
								<div class="mg-feature-icon-title">
									<i class="fa fa-database"></i>
									<h3>Robust Data Rooms</h3>
								</div>
								<p>Efficient work flows with rigorous access rights controls streamline closing deals.</p>
							</div>
						</div>
						<div class="col-sm-4">
							<div class="mg-feature">
								<div class="mg-feature-icon-title">
									<i class="fa fa-lock"></i>
									<h3>Secure and Compliant</h3>
								</div>
								<p>State of the art security, modular infrastructure design and continuous investments in R&D.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="mg-testi-partners parallax">
		<div class="container">
			<div class="row">
				<div class="col-md-6">
					<h2 class="mg-sec-left-title">Testimonial</h2>
					<div class="mg-testimonial-slider" id="mg-testimonial-slider">
						<blockquote>
							<p>Crowd Valley helped us navigate these complexities to develop a strong final product that will serve investors across private, public, and philanthropic sectors.</p>
							<footer>Andrew Stern, CEO Convergence</footer>
						</blockquote>
						{#<blockquote>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sol magnum gustare pararetur statuam, morbi patriam omittantur.</p>
							<footer>John Doe, Example Inc</footer>
						</blockquote>
						<blockquote>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Stabilem monet, petat excepturi nudus expeteremus fabellas vexetur.</p>
							<footer>John Doe, Example Inc</footer>
						</blockquote>#}
					</div>
				</div>
				<div class="col-md-6">
					<h2 class="mg-sec-left-title">Our Partners</h2>
					<ul class="mg-part-logos" id="mg-part-logos">
						<li><img src="{{ asset('bundles/app/images/partners/gcen-logo.png') }}" alt="gcen"></li>
						<li><img src="{{ asset('bundles/app/images/partners/xignite-logo.png') }}" alt="xignite"></li>
						<li><img src="{{ asset('bundles/app/images/partners/fundamerica-logo.png') }}" alt="fundamerica"></li>
						<li><img src="{{ asset('bundles/app/images/partners/contego-logo.png') }}" alt="contego"></li>
					</ul>
				</div>
			</div>
		</div>
	</div>

	<div class="mg-news-gallery">
		<div class="container">
			<div class="row">
				<div class="col-md-5">
					<h2 class="mg-sec-left-title">Recent Front-End Templates</h2>
					<ul class="mg-recnt-posts">
						<li>
							<div class="mg-recnt-post">
								<h3><a href="http://fundingthemeshub.com/themes/sanfrancisco/index.html" target="_blank">San Francisco</a></h3>
								<p>Responsive Equity Offerings Template</p>
							</div>
						</li>
						<li>
							<div class="mg-recnt-post">
								<h3><a href="http://fundingthemeshub.com/themes/newyork/index.html" target="_blank">New York</a></h3>
								<p>Responsive Equity Offerings Template</p>
							</div>
						</li>
						<li>
							<div class="mg-recnt-post">
								<h3><a href="http://fundingthemeshub.com/themes/fortworth/index.html" target="_blank">Fort Worth</a></h3>
								<p>Responsive Real Estate Template</p>
							</div>
						</li>
					</ul>
				</div>
				<div class="col-md-7">
					<h2 class="mg-sec-left-title">Gallery</h2>

					<div class="mg-gallery-container">
						<ul class="mg-gallery" id="mg-gallery">
							<li><img src="{{ asset('bundles/app/images/templates/sanfrancisco.png') }}" alt="San Francisco"></li>
							<li><img src="{{ asset('bundles/app/images/templates/newyork.png') }}" alt="New York"></li>
							<li><img src="{{ asset('bundles/app/images/templates/fortworth.png') }}" alt="Fort Worth"></li>
						</ul>
						<ul class="mg-gallery-thumb" id="mg-gallery-thumb">
							<li><img src="{{ asset('bundles/app/images/templates/sanfrancisco-thumb.png') }}" alt="San Francisco"></li>
							<li><img src="{{ asset('bundles/app/images/templates/newyork-thumb.png') }}" alt="New York"></li>
							<li><img src="{{ asset('bundles/app/images/templates/fortworth-thumb.png') }}" alt="Fort Worth"></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div> -->

{% endblock %}

{% block javascripts %}

    <script type="text/javascript">
        $(function () {
            var requiredLogin = '{{ login_required }}';
            if (requiredLogin == true) {
                // Show login popup
                $('#modal-login').modal('show');
            }
        });
    </script>

{% endblock %}


