<form role="form" id="form_add_debt_offering" action="{{ path('add_offering') }}" method="POST">
    <div class="row mt50">
        <div class="col-md-6">
            <div class="mg-book-form-input form-group">
                <label>Organization <span class="asterisk">*</span></label>
                {{ form_widget(formDebtOffering.id, { 'attr':{'class':'form-control', 'data-validation':'required', 'data-validation-error-msg-required':'This field is mandatory.'} }) }}
            </div>
            <div class="mg-book-form-input form-group">
                <label>Name of the Offering <span class="asterisk">*</span></label>
                {{ form_widget(formDebtOffering.name, { 'attr':{'class':'form-control', 'data-validation':'required', 'data-validation-error-msg-required':'This field is mandatory.'} }) }}
            </div>
            <div class="mg-book-form-input form-group">
                <label>Funding Goal <span class="asterisk">*</span></label>
                {{ form_widget(formDebtOffering.fundingGoal, { 'attr':{'class':'form-control', 'data-validation':'required number', 'data-validation-error-msg-required':'This field is mandatory.'} }) }}
            </div>
            <div class="mg-book-form-input form-group">
                <label>Interest Rate <span class="asterisk">*</span></label>
                {{ form_widget(formDebtOffering.interestRate, { 'attr':{'class':'form-control', 'data-validation':'required number', 'data-validation-allowing':'float','data-validation-error-msg-required':'This field is mandatory.'} }) }}
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="mg-book-form-input form-group">
                        <label>Open Date <span class="asterisk">*</span></label>
                        {{ form_widget(formDebtOffering.openDate, { 'attr':{'class':'form-control input-datepicker', 'data-validation':'required', 'data-validation-error-msg-required':'This field is mandatory.'} }) }}
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="mg-book-form-input form-group">
                        <label>Close Date <span class="asterisk">*</span></label>
                        {{ form_widget(formDebtOffering.closeDate, { 'attr':{'class':'form-control input-datepicker', 'data-validation':'required', 'data-validation-error-msg-required':'This field is mandatory.'} }) }}
                    </div>
                </div>
            </div>

        </div>
        <div class="col-md-6">
            <div class="mg-book-form-input form-group">
                <label>Offering Description <span class="asterisk">*</span></label>
                {{ form_widget(formDebtOffering.offeringDescription, { 'attr':{'class':'form-control', 'data-validation':'required', 'data-validation-error-msg-required':'This field is mandatory.'} }) }}
            </div>
            <div class="mg-book-form-input form-group">
                <label>External Commitments</label>
                {{ form_widget(formDebtOffering.externalCommitments, { 'attr':{'class':'form-control', 'data-validation':'number', 'data-validation-optional':'true'} }) }}
            </div>
            <div class="mg-book-form-input form-group">
                <label>Maximum Funding Amount</label>
                {{ form_widget(formDebtOffering.maximumOverfundingAmount, { 'attr':{'class':'form-control', 'data-validation':'number', 'data-validation-optional':'true'} }) }}
            </div>
        </div>
    </div>
    <div>
        <button id="btn_add_debt_offering" type="submit" class="btn btn-dark-main btn-next-tab pull-right">Next</button>
    </div>
{{ form_end(formDebtOffering) }}